[2016-10-21 10:45] #753 closed

[2016-10-22 21:14] joeyw opened #813 "Stop mutating parameters"
Change all methods similar to #780 which dups parameter before mutation. There are many more instances in octokit that mutate parameters we should change to use this approach.

[2016-10-22 22:36] #704 closed

[2016-10-22 22:36] joeyw commented on #704
Added in #704

[2016-10-23 03:44] joeyw commented on #799
Added to master, will be in next release

[2016-10-23 03:44] #799 closed

[2016-10-23 04:05] joeyw commented on #744
Closing this out as it's rather stale. If there is any followup needed feel free to comment or open a new issue referencing this.

[2016-10-23 04:05] #744 closed

[2016-10-23 05:14] joeyw commented on #743
Updated 466b971f35da3983c0345ced492e672f9ca1bfb0

[2016-10-23 05:14] #743 closed

[2016-10-23 05:22] joeyw commented on #775
This is available in master since #748. It will be included in the next gem release.

[2016-10-23 05:22] #775 closed

[2016-10-23 05:27] #623 closed

[2016-10-23 05:28] #654 closed

[2016-10-23 19:45] joeyw opened #818 "Project column endpoints"
Add these later API does not seem to be functioning currently. Or maybe its my brain

https://developer.github.com/v3/repos/projects/#get-a-column
https://developer.github.com/v3/repos/projects/#update-a-column

[2016-10-23 21:26] #818 closed

[2016-10-29 18:27] ilyash opened #823 "Credentials examples set bad example"
The readme contains many authentication examples with credentials embedded in the code. Please stop setting bad example. These will be committed with the code, sometimes to public repositories.

[2016-10-29 21:23] joeyw commented on #823
Hello @iylash. I agree unsuspecting newcomers may take this approach. So far it's really out of the scope of providing a basic get going examples of how to use the library. There are a lot of ways to bring in credentials. If you have some ideas as to how we could improve this to still fit into the goal of concise and easy to get started while still be informative, I would be glad to see and discus

[2016-11-01 21:40] Alfredo-Moreira opened #827 "Member List is incomplete"
I'm using Octokit ruby library to perform some management within my team when it comes to GitHub. It is more like an audit. The problem is the Octokit method:

Octokit.organization_members('github')

that in itself calls this GitHub API:

GET /orgs/:org/members

I have noticed that the call is only retrieving the first page of users. In other words in a total of 81 users it is only retrieving 30.

[2016-11-01 22:06] joeyw commented on #827
Hi @Alfredo-Moreira most lists in the API are paginated, in this case the default 30 per page is being retrieved. The readme has a section on pagination https://github.com/octokit/octokit.rb#pagination

[2016-11-02 01:53] #823 closed

[2016-11-02 17:06] Alfredo-Moreira commented on #827
Thank you so much. Nothing like a one code line to fix problems!
Answer:
(Octokit Client Object).auto_paginate = true

[2016-11-02 17:06] #827 closed

[2016-11-07 17:01] kevinrobayna opened #828 "Update branch from target in a pull request"
AKA git pull origin master

Hi all, I was trying pull all the changes from master to a branch i've created using Octokit but is not working as expected.
[code]

I manage to override master with my branch (because of the force = true by default)

thank you in advance 😄

[2016-11-08 04:03] joeyw commented on #828
Hi @kevinrobayna. I believe you are looking for the merge endpoint [#merge](http://octokit.github.io/octokit.rb/Octokit/Client/Commits.html#merge-instance_method) which would merge the changes from your branch into the destination. The basic syntax follows:

[code]

By doing this with #update_branch you are essentially doing the following:

[code]

[2016-11-08 10:59] kevinrobayna commented on #828
Ah! my bad then! Thank you very much @joeyw 👍

[2016-11-08 10:59] #828 closed

[2016-11-08 19:03] pvdb commented on #727
Hey @pengwynn - any update on this issue?

I've just re-tested the issue against all the latest versions - of `octokit.rb`, `sawyer` and `addressable` -  and it is still a problem I'm afraid :frowning:

[code]

Thanks!

[2016-11-08 19:09] pvdb commented on #727
BTW: I am more than happy to submit a PR along the lines of the monkey patch I described and demoed in an earlier comment, but you wrote:

So my PR would only be relevant if your conclusion is that it requires an Octokit fix instead of a server-side fix.

[2016-11-09 00:24] pengwynn commented on #727
@pvdb thanks for the ping. I'll take a look at what we can do. If you want to push up a monkey patch, that'd be great.

[2016-11-09 21:20] jcronk commented on #757
I just had this same issue, but it has a simple solution.  Go to the URL in the error message and find the custom media type they want you to send, then just add `accept: 'application/some.custom.type'` to your options.

[2016-11-09 22:37] pvdb commented on #727
Done in #830 ... :monkey_face:

[2016-11-10 07:57] pvdb commented on #727
hey @stormyyz, I noticed you reacted to the previous comment... I would be keen to find out if and how this issue has impacted you? I know for a fact it also impacted TravisCI - travis-ci/travis.rb#342 - but I'm wondering just how wide the blast radius is?

[2016-11-10 15:25] toddmohney opened #831 "Incorrectly builds urls for Github Enterprise API endpoints"
The default Github Enterprise installation exposes its API at endpoints
prefixed with `/api/v3`. The current version of Octokit, however, has a bug
where when configuring the `api_endpoint`, as [recommended](https://github.com/octokit/octokit.rb#working-with-github-enterprise), results in requests to an
incorrect url.

**Expected behavior**

Configuring the Octokit client's `api_endpoint` value as

[2016-11-12 22:06] allandrick commented on #798
Hi @Budgerous,

I did try that but get an error: wrong number of arguments (3 for 1..2)...  we are upgrading our github enterprise soon - hopefully the new version will have it updated and I'll update octokit as well.

Thanks for the suggestions though!

[2016-11-13 00:59] tommoor opened #832 "Integrations endpoints"
It would be great to see support added for the three new integrations endpoints that are currently in `early release` status…

https://developer.github.com/v3/integrations

[2016-11-13 01:00] tommoor commented on #812
@joeyw what do you think about adding a `private_pem` authentication type that would essentially wrap the bearer type and correctly create the JWT token

[2016-11-13 06:37] fotinakis commented on #812
Just for reference, here's the code I'm using right now, would be great to have as much of this baked into Octokit as possible:

[code]

[2016-11-17 21:30] #727 closed

[2016-11-19 03:28] trevor-vaughan opened #835 "Octokit should support setting the 'Merge Button' options"
I have a large number of repos and wish to eliminate the basic 'Merge' option from all of them but leave the new capabilities.

Octokit should expose this setting to make switching over legacy repositories easier and to bulk change new ones in the future.

[2016-11-21 15:23] pengwynn commented on #835
@trevor-vaughan you should be able to do this today if you pass the preview media type in the method options:

[code]

[2016-11-21 19:08] pengwynn commented on #835
@trevor-vaughan Sorry, I was confused by the title on this one. Another read of the body and it appears you're wanting an API to set those merge button settings in each repo?

[2016-11-21 19:26] trevor-vaughan commented on #835
@pengwynn Yes, thanks.

Also, am I missing something, or is there no API for all of the Branch Protection features?

Thanks

[2016-11-22 06:14] clarkbw commented on #812
Just wanted to note that the `/integration/installations` method would also want to share the `new_jwt_token` method as well.

This method requires bearer auth instead of the token and looks something like this:

[code]

[2016-11-22 12:43] sschuberth commented on #517
How come the issue is closed if you admit it's not fixed yet?

[2016-11-28 18:42] mattlindsey opened #840 "No support for latest commit in a repository"
I can do this to get the latest commit for a file '`Octokit.commits_before('octokit/octokit.rb', '2016-11-28')[0]`  but not for a whole repository.

Im proposing adding a 'latest_commit' method to repository in repository.rb to support showing it like on the github 'code' tab (e.g, "Latest commit c1d8b83  5 days ago").

Opinions?

[2016-11-28 19:20] mattlindsey commented on #840
FYI: Found a solution.  I can do 'Octokit.commits('octokit/octokit.rb')[0] and it DOES get the latest commit for the repo.  Closing this issue.

[2016-11-28 19:20] #840 closed

[2016-11-28 23:38] LizzHale commented on #711
The ability to get the permission level for a given user on a given repository was [added to the API recently](https://developer.github.com/changes/2016-11-28-preview-org-membership/). That preview also includes the ability to get/set the `default_repository_permission` setting.

I have a PR open to add these changes to octokit [here](https://github.com/octokit/octokit.rb/pull/841)

[2016-12-01 17:25] #711 closed

[2016-12-02 21:20] nikkypx opened #842 "Auto_paginate issue?"
I'm trying to retrieve all the repositories under a user, for example technoweenie with 164 repos. If I try to query with the auto_paginate option I'm still getting 30 results.

[code]

Any pointers in the right direction appreciated, I could be missing something basic.

[2016-12-08 15:53] #842 closed

[2016-12-20 08:40] ryym opened #846 "Restrict GitHub authorization scope"
deppbot only needs `user:email` and `repo`.

[2016-12-20 08:41] ryym opened #847 "Create UserRepositories when logged in"
Currently they don't be created.

[2016-12-20 08:44] ryym opened #848 "Encrypt access_token in DB"

[2016-12-20 08:48] ryym opened #849 "ユーザが管理権限を持ってるリポジトリだけを表示する"

[2016-12-20 08:51] ryym commented on #847
Sorry, I mistaked a repository...

[2016-12-20 08:51] #847 closed

[2016-12-20 08:51] ryym commented on #849
Sorry, I mistaked a repository...

[2016-12-20 08:51] #849 closed

[2016-12-20 08:51] ryym commented on #848
Sorry, I mistaked a repository...

[2016-12-20 08:51] #848 closed

[2016-12-20 08:52] ryym commented on #846
Sorry, I mistaked a repository...

[2016-12-20 08:52] #846 closed

[2016-12-23 00:56] kc8pnd opened #850 "OAuth Token invalid."
I committed my OAuth Token in code and now I am unable to get my application to authenticate with a new Token. Are there other steps I need to take other than remove the code from the Repo and create a new OAuth application / Token?

[2016-12-23 03:22] tarebyte commented on #850
@kc8pnd if you commit and push a GitHub OAuth token to GitHub we automatically make it invalid.

So you're correct all you have to do is make a new application and token and you should be set.

[2016-12-23 03:22] #850 closed

[2016-12-23 12:13] kc8pnd commented on #850
I tried creating two new applications and these Tokens are also throwing the same "Bad credentials" exception.
Any suggestions?
Mike.

[2016-12-26 15:41] jrockks commented on #831
Liucevse

[2017-01-04 22:51] GordonDiggs commented on #831
@tarebyte any thoughts here?

[2017-01-05 03:31] tarebyte commented on #831
@toddmohney @GordonDiggs let me take a look to see if I can help you resolve this issue, apologies for the delay.

[2017-01-05 05:18] tarebyte commented on #831
@toddmohney @GordonDiggs after playing around with this for a bit, I think the patch is going to have to be upstream to Faraday.

Without some serious hackery I don't see how we can fix this on the Octokit side of things.

[2017-01-05 18:08] #831 closed

[2017-01-05 18:18] kevinrobayna opened #852 "How to get the required status for a specific ref"
I checked on the developer guide and I found this that should be possible accessing the api. But I got a branch not found error. (My branch is protected and has some status as required and some as not required) https://developer.github.com/v3/repos/branches/#get-required-status-checks-of-protected-branch

But I'd like to do it through octokit I look at the rubygems documentation but I didn't found

[2017-01-05 22:01] GordonDiggs commented on #831
Thanks @pengwynn @tarebyte!

[2017-01-06 08:06] Dorian commented on #255
Doesn't work with on the organization's members API for instance, e.g.:

[code]

[2017-01-06 11:25] kevinrobayna commented on #852
Closing the issue as I just noticed that in the enterprise version of github there's no way right now to get the required status... Sorry for the noise 😞

[2017-01-06 11:25] #852 closed

[2017-01-12 08:22] casecamp opened #855 "Authentication with oauth failes"
![screen shot 2017-01-12 at 1 48 23 pm](https://cloud.githubusercontent.com/assets/20764934/21881978/8523610c-d8ce-11e6-8063-5797f1c778c0.png)
` client = Octokit::Client.new(:access_token => access_token)` If i use this method then

`user = client.user`

gives bad credentials errror, only basic authentication working, other authentications gives same error.

Using octokit 4.6.2

[2017-01-12 18:07] pengwynn commented on #855
@casecamp Let's rule out a couple of things first:

- Can you make sure the `access_token` variable is populated?
- If so, test that token via curl with:

    curl -H"Authorization: token <yours>" https://api.github.com/user

[2017-01-13 14:53] maikokuppe commented on #15
Same question here. How to stub octokit requests?

And thinking further, this way of testing doesn't seem to be *right*, because it is based on the current github api implementation (on the urls), which should only be of concern to octokit. Is there a way to catch all the calls to octokit methods which, for example create and delete a branch? This way the testing logic of my app is clearly separat

[2017-01-14 19:21] pengwynn commented on #15
@maikokuppe You've got a range of options:

- Stub Octokit calls and trust Octokit is bug free. 😇
- Stub the HTTP calls with something like [Webmock](https://github.com/bblimke/webmock).
- Make live HTTP calls and record them for subsequent playback (until you refresh your fixtures) with something like [VCR](https://github.com/vcr/vcr).

Octokit itself [uses the latter](https://github.com/octokit/

[2017-01-17 14:27] jfmull opened #856 "Inconsistent results for :size in Octokit.repo result"
I have seen inconsistent results getting the size of a repo from the Octokit.repo API.
The following gives a result of 7270:
[code]
If you download the zip from https://github.com/matlab2tikz/matlab2tikz using the 'Download ZIP' link under the 'Clone or download' button, the file size is 201 KB.

The size field for other repos, however, does match the actual zip file size on download:
* daniel-fri

[2017-01-18 09:30] maikokuppe commented on #15
Ah, that was lack of knowledge on my side. I didn't know that rspec can simply stub method calls, especially calls to arbitrary Octokit methods.

So option 1 seems to work and is the correct way (because of separation of concerns) in my opinion :)

[2017-01-18 12:03] pengwynn commented on #856
Octokit reports what it gets from the API so you'll need to [contact GitHub support](https://github.com/contact) for this one.

[2017-01-18 12:03] #856 closed

[2017-01-23 21:31] beeke2525 opened #857 "ทำ user.create นักแสดงชาย beeke2525 actor_ip 134.196.61.188 actor_location กรุงเทพฯ, Bangkok, Thailand created_at 2017/01/20 06:02:18 +0700 อีเมล mommec4@gmail.com ผู้ใช้งาน beeke2525"

[2017-01-23 21:35] #857 closed

[2017-01-25 22:56] zenspider opened #859 "exception when using pp"
This might be considered a "feature"... but it could be a lot more graceful about it.

[code]

[2017-01-25 23:00] zenspider commented on #855
works fine on this side

[2017-01-30 13:55] maikokuppe opened #861 "Support for `Octokit.ref?`"
I'm missing the method `Octokit.ref?(repo, ref, options = {})` which returns true if the ref exists or false otherwise. Since it suffices for me to monkeypatch it, and I do not have time to make a proper pull request, I'm proposing the new method here:

[code]

[2017-01-30 13:59] tarebyte commented on #861
@maikokuppe thanks for the suggestion, but I don't think that's a patch we want as part of Octokit.

This is more of a convenience method than anything else.

[2017-01-30 13:59] #861 closed

[2017-02-16 18:58] phstc opened #865 "Filter pull requests by branch name is not working"
Hey

I'm trying to filter pull requests by branch name according to [this](https://developer.github.com/v3/pulls/#list-pull-requests):

[code]

But it isn't working, it's returning all opened pull requests instead.

Is that the right way to retrieve a PR for a given branch name?

[2017-02-16 19:08] tarebyte commented on #865
From a first glance that looks correct @phstc.

Just to confirm you're searching for pull requests on the base branch correct?

[2017-02-16 19:10] tarebyte commented on #865
Just for a sanity check I did a curl to make sure the API is working as expected:

[code]

[code]

[2017-02-16 19:27] phstc commented on #865
Hi @tarebyte

Thanks for the quick reply.

I have a pull request from "branch-name" targeting "master". So actually, I'm searching for the source/head pull request, not for the base (master).

[code]

Even changing from `base` to `head` it does not work, it does not return any result, and there's an opened PR from `branch-name` against `master`.

[2017-02-16 19:34] tarebyte commented on #865
@phstc would you mind doing me a favor and check to see if you can get the desired data through curl?

I want to make sure this isn't an issue with the permissions of your API token.

The request would look like this:

[code]

Thanks!

[2017-02-16 19:38] phstc commented on #865
@tarebyte confirmed, it does not work with `cURL`as well. I got a 200 response, but with no results.

[2017-02-16 19:39] tarebyte commented on #865
@phstc could it be that your token doesn't have the proper access?

Is this a personal token or an OAuth token?

[2017-02-16 19:45] phstc commented on #865
@tarebyte I believe it's a personal token. I don't know if it's a permission issue, because it returns data, it's only failing at filtering data. If I try `client.pulls` I get all the pull requests I have opened. Is that query on `head` working for you?

[2017-02-16 19:51] tarebyte commented on #865
@phstc can you get the pull request directly by the number with that token?

[code]

[2017-02-16 19:53] phstc commented on #865
@tarebyte yup. Worked fine.

[2017-02-16 19:59] tarebyte commented on #865
@phstc Can you show me the curl request for the head search and just omit the names and token?

[2017-02-16 20:03] phstc commented on #865
@tarebyte sure!

[code]

For `head` should I use only `branch-name` or `user-that-created-the-branch:branch-name`? (both don't work for me).

[2017-02-16 20:08] tarebyte commented on #865
So for head it has to be `user-that-created-the-branch:branch-name`.

I'm not entirely sure how to help you anymore without getting into specifics, would you mind reaching out to https://github.com/support and mention that you talked to me?

Thanks!

[2017-02-16 20:25] phstc commented on #865
@tarebyte will do. Thanks for checking that 🍻 Just confirming, does that `head` query for you?

[2017-02-16 20:40] tarebyte commented on #865
It does! Here are two examples:

## Forked repo making a pull request
[code]

[code]

## Branch on repo making pull request
[code]

[code]

[2017-02-16 20:42] tarebyte commented on #865
While making these requests @phstc I realized for a PR based on a branch in the repo I used the `education` org name in the head request.

Maybe give that a go?

[2017-02-16 20:46] phstc commented on #865
@tarebyte you nailed! Thanks a ton. I changed to the org name and it worked fine! super cool

[2017-02-16 20:46] #865 closed

[2017-02-20 01:43] samjarman opened #867 "OpenSSL issue"
Seeing an openssl issue I haven't been able to figure out just yet

```/Users/sam/.rvm/rubies/ruby-2.3.3/lib/ruby/2.3.0/openssl/buffering.rb:322:in `syswrite': Broken pipe (Faraday::ConnectionFailed)
	from /Users/sam/.rvm/rubies/ruby-2.3.3/lib/ruby/2.3.0/openssl/buffering.rb:322:in `do_write'
	from /Users/sam/.rvm/rubies/ruby-2.3.3/lib/ruby/2.3.0/openssl/buffering.rb:340:in `write'
	from /Users/sa

[2017-02-21 14:55] maikokuppe opened #868 "Repositories#repository(repo) fails if repo is an Integer"
Let's consider `id` to be an Integer which represents a Github repo ID which is accessible by our Octokit installation.

Then `Octokit.repository(id)` raises the following error message:

[code]

Excerpt from the Octokit source code:

[code]

The source code indicates, that the ID should be handled somehow, but the error message shows, that the resulting Github URL is wrong. It should be `/repos/:

[2017-02-21 15:11] maikokuppe commented on #868
I just mixed up `edit_repository` with `repository`. Neither documentation nor the code indicate that an Integer is allowed as the first argument.
My bad.

[2017-02-21 15:11] #868 closed

[2017-02-21 15:14] tarebyte commented on #868
Pr's are welcome if you want to update the comments for that method: https://github.com/octokit/octokit.rb/blob/master/lib/octokit/client/repositories.rb#L36

[2017-02-21 15:25] maikokuppe commented on #868
I'll rephrase this more clearly:

The docs and comments are fine and consistent. I just mixed up two methods ;)

[2017-02-21 21:45] iangreenleaf commented on #453
The meat of this request was implemented in octokit/octokit.rb#567 🎉

[2017-02-22 17:46] panthomakos opened #870 "Octokit::NotFound on branch_protection call"
Using the most recent Gem release (4.6.2) or `master`, I get the following exception when attempting to call branch protection endpoints:

[code]

[2017-02-22 17:55] tarebyte commented on #870
@panthomakos are you sure you have the proper access to see the branch_protection?

I just pulled down master and it seemed to work for me ok.

[code]

[2017-02-22 18:06] panthomakos commented on #870
@tarebyte: that was it. The 404 response is confusing. I hadn't added the collaborator as an admin to the repository. Thanks!

[2017-02-22 18:06] #870 closed

[2017-03-03 14:55] ddosque commented on #15
Option 2 - stub HTTP using Webmock - currently does not work as nicely as I had hoped due to [this webmock issue](https://github.com/bblimke/webmock/issues/449) that has yet to be resolved. I haven't been able to find an answer for that, as it seems to cause the stubbed json string to pass right through into the response, without being correctly parsed.

[2017-03-07 16:25] tarebyte commented on #812
👋 I merged https://github.com/octokit/octokit.rb/pull/825 yesterday and I opened a PR for to add the new Integration endpoints https://github.com/octokit/octokit.rb/pull/871

I would really like the JWT stuff to be baked into Octokit as well, however I _really_ don't want to add another dependency to Octokit if I can avoid it.

So for the mean time I think I'm going to hold off on adding support.

[2017-03-07 16:25] ketonkss4 opened #872 "build new release for review api support?"
I am in need of the new reviews API and I see that someone has already contributed the update here https://github.com/octokit/octokit.rb/pull/860

This is now in master but no new release has been built. The last release for the octokit project was back in November last year. Is there a reason why updates have been going into the master branch without any new releases being made?

[2017-03-07 16:49] rafaelfragosom opened #873 "Faraday Cache and Rails"
I hope this is just some silly mistake I made, but I have the following situation:

I configured a brand new Rails 5.0.2 app and installed Octokit and the faraday-http-cache gem to make conditional requests.

I was reading through the Docs and I saw that I had to add it as a custom middleware. So I created an initializer with the following code:

[code]

And I even tried to set the middleware dire

[2017-03-07 16:56] lucasmazza commented on #873
@rafaelfragosom which cache store you are using in your Rails app? By default Rails uses a `null_store`, so nothing will be cached unless you configure to use something else (like memcache/redis or a file store)

[2017-03-07 17:08] rafaelfragosom commented on #873
I knew it was something silly.
Thank you @lucasmazza

[2017-03-07 17:08] #873 closed

[2017-03-08 20:10] tarebyte commented on #867
@samjarman this looks like an issue with Faraday/Sawyer not Octokit.

Maybe open an issue with those projects?

[2017-03-08 20:10] #867 closed

[2017-03-08 20:15] #756 closed

[2017-03-15 13:13] #832 closed

[2017-03-27 17:42] irace commented on #280
I’m still seeing this same behavior. The token works fine when using it via `curl`, but octokit.rb returns 404s for all private repositories. Please advise.

[2017-04-05 20:53] gylaz commented on #872
@pengwynn Any ETA on a release?

[2017-04-05 21:35] #813 closed

[2017-04-05 21:51] pengwynn commented on #872
Oof, I thought this was already done. I just cut 4.7.0.

[2017-04-05 21:51] #872 closed

[2017-04-05 21:57] gylaz commented on #872
Thank you! 🎉

[2017-04-06 20:46] ketonkss4 commented on #872
Thanks guys!

[2017-04-06 20:50] dmil commented on #280
+1

[2017-04-08 21:06] grosser commented on #608
This still happens to me and is not serverside

%2F works:
https://api.github.com/repositories/602326/git/trees/support%2F0.9.x

but octokit produces %252F which does not work because it means `"52F`
https://api.github.com/repositories/602326/git/trees/support%2252F0.9.x

because it escapes the full path ... which is wrong ...
https://github.com/octokit/octokit.rb/blob/master/lib/octokit/connectio

[2017-05-01 14:05] mattlindsey opened #887 "Unhandled exception fetching repo contributions"
Occurs consistently on certain repos.

Appears to be unhandled exception calling
octokit-4.3.0/lib/octokit/client/stats.rb line 96:
`   data = get("#{Repository.path repo}/stats/#{metric}", options)`
with options == {}

Unhandled exception occurs at
octokit-4.3.0/lib/octokit/connection.rb line 154:
`@last_response = response = agent.call(method, URI::Parser.new.escape(path.to_s), data, options)`

[2017-05-04 11:58] mattlindsey commented on #887
This appears OK now. It was only happening in the debugger, so may have been a timing thing.

[2017-05-04 11:58] #887 closed

[2017-05-07 05:10] AutoshopR commented on #788
Help

[2017-05-09 12:24] ohookins opened #888 "Retries are not consistently applied on API errors"
It seems that the repo statistics methods of the client support retrying when there is an error or timeout from the API:
https://github.com/octokit/octokit.rb/blob/836948b6c176d7829e250e65caea790721c96523/lib/octokit/client/stats.rb#L91-L101

It would be very useful to have this universally applied throughout the SDK on the client itself (rather than per endpoint) so that the application doesn't h

[2017-05-15 22:29] retorquere commented on #855
I think I'm seeing the same problem, using Octokit 4.7.0 under Ruby 2.3. My script is:

[code]

The token is a preshly generated personal access token with `repo:status, `repo_deployment ` and `public_repo` access.

The full error is:

[code]

[2017-05-18 17:56] benbalter opened #891 "Add support for community profile API"
It'd be awesome to add support for the community profile API as documented in https://developer.github.com/v3/repos/community/.

[2017-05-25 00:38] wagenet opened #893 "Using the methods directly on `Octokit` are not thread safe"
When using methods directly on the `Octokit` module, the client is shared across all threads. This would be ok, except for the fact that the client maintains state. One place this happens in `last_response` which, if two threads are making requests at once, could easily end up out of order. If an explicit instance of `Octokit::Client` is created, this problem can be avoided.

See https://gist.gith

[2017-05-25 00:55] chancancode commented on #893
To be more precise for the benefits of future readers – the client itself is still not threadsafe, as in if you make a client and hand that to multiple threads you will still run into the same problem. However, if you can make each thread *own* one client then as far as I can tell there aren't other obvious global shared sates floating around, which would match most people's use cases and expectat

[2017-05-29 04:33] Sherie1988 commented on #788
gitignore

[2017-05-29 15:24] kareem commented on #560
@pengwynn I'm getting a 404 when deleting a label with a forward slash in it e.g. ("foo/bar").  Octokit 4.6.2.  Should I open up a new issue or is this accepted behavior?

[2017-05-30 13:27] pengwynn commented on #560
@kareem we may have had a regression since bumping Addressable in the past two years. A new issue would be great. Bonus points for patch or at least a failing test. 👍

[2017-05-31 13:42] kareem opened #896 "delete_label! returns 404 when label has forward slash in it"
I'm getting a 404 when deleting a label with a forward slash in it e.g. ("foo/bar"). Octokit 4.6.2.
[code]

[2017-06-07 17:26] buckmaxwell commented on #525
I am using this feature and it works -- kind of.  I have prioritized issues and would like to fetch items that are 'high' or 'medium'. If I do 'high,medium' I get only issues with both labels.  Any way to use or instead of and?  I can't find a way to perform this request in a simple way.

[2017-06-19 14:20] RedaBenh opened #903 "Add topics to repository via API"
Hi,
There is any way to add topics to a repository ?

Thanks

[2017-07-06 14:34] kytrinyx commented on #903
@RedaBenh It's not currently possible with the v3 REST API and the Octokit, however if you're up for a workaround it is possible with the GraphQL API:

https://developer.github.com/v4/reference/mutation/updatetopics

[2017-07-06 17:31] kytrinyx commented on #812
We now have support for the Bearer keyword, and we will not be adding the JWT dependency at this time.

Thanks all! ✨

[2017-07-06 17:31] #812 closed

[2017-07-06 17:42] kytrinyx commented on #888
@ohookins that's a good point, this is definitely inconsistent.

I think that having retry logic within the calls to the individual endpoints is probably not the right approach for the client, but it would be very useful to have helpers to make it easy for people to add retry logic themselves if they need/want it.

[2017-07-06 18:08] ohookins commented on #888
@kytrinyx I can appreciate that approach. In practice, with something like the Retryable gem, I would say that the experience is less than optimal. I feel that the AWS Ruby SDK does a very good job of encapsulating this logic though, if that's something you could look into.

[2017-07-06 19:10] kytrinyx commented on #888
Thank you, I will definitely look into that one.

[2017-07-06 19:35] kytrinyx commented on #893
Yes, we'll go ahead and deprecate the use of those methods directly, and add a warning that the client is not threadsafe and that if people are using threads, they should be sure to make a new client for each thread.

[2017-07-06 20:50] kytrinyx commented on #859
No, I don't think this is by design. It's blowing up here:

https://github.com/ruby/ruby/blob/trunk/lib/pp.rb#L315

This is in the object mixin, so `self` is the octokit client.

The octokit client has defined an inspect method, so it shouldn't be returning nil.
https://github.com/octokit/octokit.rb/blob/master/lib/octokit/client.rb#L127-L143

I don't understand what is going on, but the output of

[2017-07-06 21:12] kytrinyx commented on #855
I created a new token with all the repo scopes, and called your script, which succeeded.

Do you get the expected token when you call `puts ENV['GITHUB_TOKEN']`?

I'm going to close this. If you are able to create reproduction steps, please open a new issue.

[2017-07-06 21:12] #855 closed

[2017-07-06 21:29] kytrinyx commented on #835
@trevor-vaughan Your first post is talking about the merge options.
These are available via the _edit repo_ endpoint, with the parameters `allow_squash_merge`, `allow_merge_commit`, and `allow_rebase_merge`.

https://developer.github.com/v3/repos/#edit

[2017-07-06 21:29] #835 closed

[2017-07-06 21:35] kytrinyx commented on #798
@allandrick It's been a few months on this one. Did you get this sorted out?

I'm going to go ahead and close this, but if it's not sorted, please reopen it and we can figure out exactly what is hurting and how to fix it.

[2017-07-06 21:35] #798 closed

[2017-07-06 21:52] kytrinyx commented on #787
The GET Repository endpoint (https://developer.github.com/v3/repos/#get) has an `open_issues_count` field, but not an `open_pull_requests_count` field.

The best you can do, as far as I can tell, is to get the `:last` related link from the header and compute the number from that. Something like this:

[code]

The GitHub support folks might know more about whether the API has a way of returning the

[2017-07-06 21:52] #787 closed

[2017-07-06 22:08] kytrinyx commented on #703
I'm going to go ahead and close this, as there's been no movement on it in the past 6 months, and it's not quite clear what the request is.

@lifeiscontent if you're still having trouble with this, please reopen it with more information so we can help you get this sorted.

[2017-07-06 22:08] #703 closed

[2017-07-06 22:09] kytrinyx commented on #720
I'm going to assume that the above response resolved this issue. If not, please feel free to reopen this.

[2017-07-06 22:09] #720 closed

[2017-07-06 22:11] kytrinyx commented on #757
I'm going to go ahead and close this, since it seems like this is likely resolved with one of the two responses. If not, please don't hesitate to reopen the issue @franfabrizio.

[2017-07-06 22:11] #757 closed

[2017-07-06 22:12] kytrinyx commented on #719
I'm going to go ahead and close this, since there have been new releases since the issue was opened, which would have fixed the `create_organization` method.

[2017-07-06 22:12] #719 closed

[2017-07-06 22:14] kytrinyx commented on #781
@marcamillion It's been a while, so I don't know if you found a solution to this. Your best bet is probably to email GitHub support to ask if this is possible with the API. If it is, then open an issue here and we can help you translate that to use the octokit.

[2017-07-06 22:14] #781 closed

[2017-07-06 22:40] kytrinyx commented on #896
I'm not able to reproduce the problem using Octokit 4.6.2

[code]

I'm going to go ahead and close both this issue and the pull request.

[2017-07-06 22:40] #896 closed

[2017-07-06 22:54] kytrinyx commented on #802
I believe this is now supported in the API: https://developer.github.com/v3/repos/branches/

It doesn't look like it has been added to octokit yet.

[2017-07-06 23:00] pengwynn commented on #802
@kytrinyx I think @tarebyte added those methods [here](https://github.com/octokit/octokit.rb/blob/ad74f84e818ee15d2e49422d51978a40b2d957a0/lib/octokit/client/repositories.rb#L532-L570).

[2017-07-06 23:17] bigwormit commented on #802
W hat do i need to do

[2017-07-07 00:10] kytrinyx commented on #802
@pengwynn there are a lot more endpoints in the API docs than what we have there. I'll take a look at what's missing.

@bigwormit I don't understand your question. Would you please elaborate?

[2017-07-07 00:34] bigwormit commented on #802
Pa11y

[2017-07-07 10:00] chancancode commented on #893
@kytrinyx thank you!

[2017-07-13 09:22] sotayamashita opened #906 "Where should I add Marketplace API"
I am implementing [marketplace API](https://developer.github.com/v3/apps/marketplace/).  Here is the URL: https://github.com/sotayamashita/octokit.rb/tree/feature/marketplace.

[2017-07-13 12:25] tarebyte commented on #906
@sotayamashita the best place would probably be in [this directory](https://github.com/octokit/octokit.rb/tree/ad74f84e818ee15d2e49422d51978a40b2d957a0/lib/octokit/client) under `marketplace.rb`

[2017-07-13 14:43] sotayamashita commented on #906
@tarebyte Thanks

[2017-07-13 14:43] #906 closed

[2017-07-14 19:36] rjbell4 opened #907 "refs doesn't always return array"
The `refs` method is documented as returning an array.  However, when there is a single result, it just returns that result, instead of an Array of one element.

[2017-07-22 04:56] toby5box commented on #280
I'm also having this problem, using a personal access token to a private repo, but I suspect it's the set of permissions I've granted? I've only allowed **repo_deployment**.

[2017-07-27 12:21] 5chdn opened #910 "How to get rid of "WARNING: The preview version of the Reactions API ..."?"
Each call to the `issue_reactions` API generates the following warning when using octokit.rb 4.7.0:

You can avoid this message by supplying an appropriate media type in the 'Accept' request
header.

However, I supply a custom media type as per the README:

    preview = Octokit::Client.new :access_token => ARGV.first.to_s
    preview.default_media_type = "application/vnd.github.squirrel-girl-prev

[2017-07-31 21:16] jason-riddle opened #911 "[Question] Can octokit be used to download the audit for an org?"
I would like to automate downloading the audit log for an organization every week. Right now the download link looks like the following.

[code]

It's not clear how the token is being generated, so I was wondering if octokit could help with download this file?

[2017-08-07 22:05] nwoodthorpe opened #912 "Bug when using stats API on empty repos"
When called on an empty repository, all of the stats endpoints except `participation` return a `204 no content`.

This causes delays in the `get_stats` method, which waits until it receives a 200. It should either be waiting for a non-202, or a 200/204 to return data.

I can implement a fix and write some specs for this. What kind of return do we want when we hit a 204 though? nil?

[2017-08-14 13:43] BasThomas opened #915 "Add support to assign as reviewer"
It seems like we can't add a user as a reviewer, but can add them as an assignee.

[2017-08-16 17:26] charlottestjohn opened #916 "Octokit protect_branch function missing pull request review functionality"
The Repositories [protect_branch](http://octokit.github.io/octokit.rb/Octokit/Client/Repositories.html#branch_protection-instance_method) function supports the following parameters and options:
[code]

The actual [branches api](https://developer.github.com/v3/repos/branches/#update-branch-protection) which that api mimics, supports more. Here is their listed example of available parameters:

[code

[2017-08-20 08:55] Bilge opened #918 "How do you make a GraphQL query?"

[2017-08-21 13:11] tarebyte commented on #918
@Bilge I wrote up a little example to see if I can help you get started

[code]

[code]

[2017-08-21 17:23] Bilge commented on #918
Hey @tarebyte. Thanks! Unfortunately I couldn't wait to get started so I already wrote a solution using the v3 API. However, I don't think your effort need go to waste: we should probably put something like this in the documentation, don't you think? 😃

[2017-08-21 18:43] tarebyte commented on #918
@Bilge there is a WIP PR https://github.com/octokit/octokit.rb/pull/834 for initial GraphQL support, I'm looking at finishing it up and then adding it to the README 😄

[2017-08-21 18:43] #918 closed

[2017-08-22 00:47] Bilge opened #920 "Readme downloaded with wrong encoding"
Downloading this readme results in a string with the wrong encoding (should be `UTF-8`).

[code]

This problem manifests itself when trying to parse it with a markdown processor such as Kramdown.

[code]

[2017-08-23 21:54] spappier opened #921 "Adding collaborators to a repository always returns false"
It seems after [todays changes to the github api](https://developer.github.com/changes/2017-08-23-repository-invitation-api/), adding someone to a repository sends them an invitation to become a collaborator and returns a 201 status code instead of 204. [Octokit always checks for a 204 for success](https://github.com/octokit/octokit.rb/blob/master/lib/octokit/connection.rb#L165), maybe it should c

[2017-08-23 21:57] tarebyte commented on #921
@spappier if you use https://github.com/octokit/octokit.rb/blob/dc09f52e80377b912031951810c6f861e0af3ed4/lib/octokit/client/repository_invitations.rb#L9-L21

You should get the correct response.

[2017-08-23 22:01] spappier commented on #921
@tarebyte Thanks! I'll use that method, was just caught by surprise by the change (it broke a couple of our processes).

Still think the other method should be changed now that the api responds a different status code :)

[2017-08-23 22:12] #921 closed

[2017-08-31 09:30] 3minus1 opened #925 "Better exception handling?"
Why don't we return `nil` whenever a `404` occurs while trying to `get` a resource? I think this will still serve the purpose of not serving a `401` and would also gracefully assert that the requested resource was either not found or doesn't exist at all.

For eg: `client = Octokit::Client.new(:login => 'defunkt', :password => 'c0d3b4ssssss!')` would pop a `404` error if the credentials are invali

[2017-08-31 09:32] 3minus1 commented on #925
I just realised that Client.new() will return a `401` if the credentials are invalid. Regardless, the issue prevails because the execution will still halt because of the exception.

[2017-09-04 13:30] lucasdchamps opened #927 "users resource method"
Is there a method for the `/users` route? (https://developer.github.com/v3/users/#get-all-users)

For example, `Octokit.repositories` works fine for the Repositories resource but `Octokit.users` doesn't seem to exist.

Thanks for your help.

[2017-09-04 13:49] tarebyte commented on #927
There sure is!

It's located here: https://github.com/octokit/octokit.rb/blob/30e29f6a4fba1cad347d9abe38c63a43c97a3487/lib/octokit/client/users.rb#L9-L23

[2017-09-04 13:58] lucasdchamps commented on #927
oh thanks! I tried calling this method but I had to instantiate a Octokit::Client first... My bad!

[2017-09-04 13:58] #927 closed

[2017-09-07 17:11] tarebyte commented on #920
@Bilge are you able to reproduce this bug if you make the request via CURL? And then would you mind pasting your findings?

If you could paste your results using `curl -v` so that we can verify the headers that would be ✨

[2017-09-07 17:13] tarebyte commented on #916
@charlottestjohn this seems like a documentation fix to me, would you mind opening a PR to make these changes?

Thanks!

[2017-09-07 17:15] tarebyte commented on #915
@BasThomas are you referring to this API endpoint https://developer.github.com/v3/pulls/review_requests/#create-a-review-request?

[2017-09-07 17:19] tarebyte commented on #911
@jason-riddle this is out of the scope of Octokit and is more of a feature request for GitHub itself. Would you mind reaching out to support@github.com? Thanks!

[2017-09-07 17:24] tarebyte commented on #912
@kytrinyx I'd love your thoughts on this 🏈

[2017-09-07 19:10] BasThomas commented on #915
@tarebyte yep!

[2017-09-07 20:14] kytrinyx commented on #912
My first thought is: why is `participation` different? Should this also be a 204? Should the others be 200 with some default payload that says some variation of "nothing"? This is not something we can tackle at the octokit.rb level, but worth asking anyway.

As written, it should probably wait for either 200 or 204 to return data, not just 200.

If we provide nil, then the client code will have to

[2017-09-07 22:16] Bilge commented on #920
How could I possibly reproduce it using cURL given that this is a Ruby encoding error?

[2017-09-09 13:49] shujin commented on #915
I think this is what you're looking for: https://octokit.github.io/octokit.rb/Octokit/Client/Reviews.html#request_pull_request_review-instance_method

[2017-09-09 13:58] #915 closed

[2017-09-11 15:27] tansaku commented on #912
we've noticed our scheduled processes hanging on empty repos ... @nwoodthorpe any progress on a fix?  If it was in a branch somewhere we could try it out on are system ... I guess otherwise we'll have to add a fixed timeout - what do you think @praveendhawen?

[2017-09-12 08:24] praveendhawan commented on #912
@tansaku we could probably fix the issue here as suggested by @nwoodthorpe by checking for 200 or 204, or we can also send `retry_timeout` as options to `get_stats`. I was able to find the [code](https://github.com/octokit/octokit.rb/blob/836948b6c176d7829e250e65caea790721c96523/lib/octokit/client/stats.rb#L90 ) which might be causing problem.

[2017-09-12 11:05] tansaku commented on #912
@praveendhawan if we don't hear from @nwoodthorpe soon we could put a PR into Octokit?

[2017-09-12 13:39] tarebyte commented on #912
@tansaku @praveendhawan feel free to make a PR as @nwoodthorpe is out on vacation until October 😄

[2017-09-12 19:48] jvergeldedios opened #930 "Octokit::Client.repos for an organization doesn't return all results"
I create a new client using a personal access token:
[code]
Then I attempt to fetch all of my org's repos:
[code]
It returns 43 results when I was expecting a full page of 100 since my org has well over 100 repos.

I also attempted the (what I assume is) the same request using `curl`:
[code]
And the above request returns the expected full page of 100.

This is using octokit v4.7.0, ruby v2.4.0, an

[2017-09-12 20:49] jvergeldedios commented on #930
Just attempted:
[code]

[2017-09-12 21:43] tarebyte commented on #930
@jvergeldedios is this consistent across all organizations? Or just this one organization?

[2017-09-13 21:31] jvergeldedios commented on #930
@tarebyte This is the only one I've tried with, and it's also the only org I have that has private repos. Let me try adding a private repo to another org and see if the same problem arises.

[2017-09-13 22:59] jason-riddle commented on #911
Sounds good. Thanks!

[2017-09-13 22:59] #911 closed

[2017-09-14 13:11] gjtorikian opened #931 "Contents API does not take ref into account"
Given a call like this:

[code]

Octokit always responds with the contents of the `master` ref. This is in contrast to [the API docs](https://developer.github.com/v3/repos/contents/#get-contents), which permits selection based on the branch.

In curl, the right call here is:

[code]

I'm not sure where that `?ref=` query param is going or why it is dropped.

[2017-09-14 17:18] kytrinyx commented on #931
@gjtorikian Thanks for reporting this, we'll take a look!

[2017-09-14 17:20] kytrinyx commented on #925
Thanks for bringing this up, @3minus1. We need to pass the 404 through to the caller. If we change it to `nil`, that overloads the meaning of `nil` which could get confusing.

[2017-09-14 17:20] #925 closed

[2017-09-14 17:31] kytrinyx commented on #920
@Bilge Sorry—our request was unclear. Seeing the verbose curl output is always our first step in troubleshooting these things, even if we suspect that the problem is in Ruby.

We're seeing `Content-Type: application/vnd.github.raw; charset=utf-8`, which indeed looks correct.

[code]

Classifying this as a bug in the library, thanks for reporting it.

[2017-09-14 17:36] kytrinyx commented on #910
@5chdn if you pass the custom media type with `:accept` to the method call in question, this warning should go away.

I'm going to go ahead and close this, but if this doesn't resolve your issue, let us know and we'll help sort it out.

[2017-09-14 17:36] #910 closed

[2017-09-14 17:37] kytrinyx commented on #907
@rjbell4 Thanks for raising this. This may be an API bug—would you happen to have a `curl -v` request handy that shows the behavior of this? (Or, that doesn't show it, which would prove that this is a bug in the client rather than the API).

Either way we should be able to fix it :)

[2017-09-14 17:38] kytrinyx opened #933 "Add support for topics endpoints"
These are now available via the REST API.

- https://developer.github.com/v3/repos/#list-all-topics-for-a-repository
- https://developer.github.com/v3/repos/#replace-all-topics-for-a-repository

[2017-09-14 17:39] kytrinyx commented on #903
This is now available via the REST API: we've opened an issue about adding support. https://github.com/octokit/octokit.rb/issues/933

[2017-09-14 17:39] #903 closed

[2017-09-14 17:41] kytrinyx commented on #888
We've discussed this, and we've decided that we want to add functionality that makes it easy to do retries, however we won't be adding it automatically to all the endpoints.

[2017-09-14 17:45] kytrinyx commented on #788
@joecannatti I'm so sorry we missed this for (literally) a year. That's unacceptable, I promise to do better.

I am pretty sure that those tokens expire. That said, if you ask support@github.com, they'll be able to give you all the details about it.

I'm going to go ahead and close this (so sorry again!) 🌷

[2017-09-14 17:45] #788 closed

[2017-09-14 17:48] kytrinyx commented on #771
I think this would make sense as opt-in middleware. I don't think we could add it as the default behavior, at least not until we do a major release, since that would be a breaking change.

[2017-09-14 17:50] kytrinyx commented on #732
Thanks, everyone for the detailed discussions. We'll work on getting this documented, and also for the next major release we have plans for improving the pagination user interface.

[2017-09-14 17:56] kytrinyx commented on #586
@blunderdome @ivantsepp -- it looks like it was closed due to drift in the codebase. If either of you would be interested in carrying the pull request (see section 4 in https://blog.jessfraz.com/post/the-art-of-closing/) / reimplementing the changes against a fresh master, that would be superb.

[2017-09-14 20:31] jblac commented on #802
I use protected branches myself, I'll be updating my PR #890 with the necessary endpoints for the reviewers' portion of this, but can definitely look into building out more options in different PR's if we can figure out functionality and what we're missing in octokit that's currently available in the API.

[2017-09-15 06:08] salaxander commented on #933
If there's opportunity to help out on this, I'd love to jump in. I've used this gem in the past, and I've been looking for a project to contribute to in my spare time :)

[2017-09-15 13:00] tarebyte commented on #933
@salaxander feel free to take it on if you'd like!

[2017-09-15 13:45] kytrinyx commented on #933
@salaxander that would be lovely 🌻

I don't think we have any documentation about adding support for new endpoints, but off the top of my head it's going to need:

* the implementation
* (probably) custom preview headers
* tests

There are other pull requests that have added support for endpoints which you can probably pattern your contribution off of.

[2017-09-15 14:51] salaxander commented on #933
Awesome! I'll work on it over the next couple days :)

[2017-09-16 22:20] salaxander commented on #933
@kytrinyx @tarebyte - Wondering if you two might be able to help kick me in the right direction on this :) I started on the all topics endpoint, and that seems to be working pretty well, however I'm getting a failure on the test I wrote.

Under /lib/octokit/client/repositories.rb I've got
[code]
Then in the repositories_spec.rb
[code]
Then when running the tests
[code]

I tried following patterns

[2017-09-18 16:24] tekHudson opened #935 "Getting 404 when trying to obtain pull requests"
I am trying to obtain a list of pull requests open in my repo for a specific set of users.

First I setup my Octokit `@github = Octokit::Client.new(access_token: ENV['GITHUB_TOKEN'])`
If I were to call `@github.client` this is what is returned:
[code]
If I then call `@github.pulls("is:pr state:open user:#{ORGANISATION}")` or if I call `@github.pull_requests("is:pr state:open user:#{ORGANISATION}")

[2017-09-18 16:26] tekHudson commented on #935
I have tried this for a non-private repository as well:
[code]

[2017-09-18 17:59] tarebyte commented on #935
@tekHudson so it looks like you're trying to cross the [Search API](https://developer.github.com/v3/search/) and the [Pull Requests API](https://developer.github.com/v3/pulls/) together.

If you'd like to explicitly search for all open pull requests on an org you could do something like this:

[code]

And that should get all open PRs.

Example:

[code]

[2017-09-18 21:19] tekHudson commented on #935
I think this may be access token related... Testing will get back to you.

[2017-09-18 23:03] chris-alation opened #936 "Update SHA of Submodule?"
Is it possible to update the SHA of a submodule?

I can get the contents and see the return type is: `:type=>"submodule"`and SHA gets returned `:sha=>"123123123123123123123"`

But when I try to update the contents, I am getting the error: `path/to/submodule is not a file // See: https://developer.github.com/v3/repos/contents/`

Which I understand the error, as it isn't a file (obviously), but then

[2017-09-19 00:40] salaxander commented on #933
@kytrinyx @tarebyte
If it helps at all, I've got my current work pushed up to a branch on my forked repo -> https://github.com/salaxander/octokit.rb/tree/topics

Still trying to fix the issue, I'll keep ya'll posted here

[2017-09-19 12:10] tarebyte commented on #933
@salaxander sorry I didn't see this before, this maybe an issue with [VCR](https://github.com/vcr/vcr/issues/637). If you update the gem do you still run into the same issues?

[2017-09-19 12:42] parthan-sundararajan opened #937 "Exception while using Octokit"
While trying the code at https://gist.github.com/arfon/8726472 getting the below exception,

~ ruby github_stats_octokit.rb
/Users/foo/.rvm/gems/ruby-2.2.3@helpkit/gems/octokit-4.7.0/lib/octokit/connection.rb:185:in `delete': no implicit conversion of Symbol into String (TypeError)
	from /Users/foo/.rvm/gems/ruby-2.2.3@helpkit/gems/octokit-4.7.0/lib/octokit/connection.rb:185:in `parse_query_and_co

[2017-09-19 16:03] kytrinyx commented on #933
@salaxander the code that you say is in repositories_spec.rb is the same as in the repositories.rb - is this a copy/paste error? I can't find this in your branch, so I don't know what to look at.

[2017-09-19 16:18] kytrinyx commented on #933
Here's what I have, which runs successfully:

[code]

Other than that I would recommend `options = ensure_api_media_type(:topics, options)` instead of ` options[:accept] = "application/vnd.github.mercy-preview+json"`.

[2017-09-20 13:24] tarebyte commented on #937
@parthan-sundararajan this is a Gist from 4 years ago so the API's for Octokit have definitely changed. There are many bugs in this script but the one you're running into can be fixed as so:

[code]

The method definition is expecting a `Hash` of options, whereas the Gist is passing in a String.

Hope this helps!

[2017-09-20 18:08] salaxander commented on #933
@tarebyte Thanks for tracking that down for me. Looks like it was indeed an issue with VCR and Ruby 2.4.X

@kytrinyx Sorry about that! It was definitely a paste error! Thanks for taking the time to have a look :)

PR incoming in a bit

[2017-09-23 20:18] skamsie opened #940 "contributors_stats should not be retried on 2xx codes"
If github returns a `2xx` response code, but not `200`, the request should not be retried even if params like `:retry_wait` or `:retry_timeout` are passed.

One example would be when trying to get contributor stats for an empty repository, github returns 204 (empty content). But the `get_stats` method will retry the request even if it is technically success and nothing can change.

Example of empt

[2017-09-27 07:01] parthan-sundararajan commented on #937
Thanks. that helped.

[2017-09-27 07:01] #937 closed

[2017-10-03 16:04] jonhue opened #942 "Undefined method `create_repository`"
I am using Octokit to create a GitHub repository for a user.

This is what I've tried:

[code]

Here is the error:

I am following this documentation: http://octokit.github.io/octokit.rb/Octokit/Client/Repositories.html#create_repository-instance_method

[2017-10-03 16:49] #942 closed

[2017-10-04 16:02] gjain3693 commented on #414
I am not able to view Webhooks & Services” tab on my github account. Please help

[2017-10-06 15:37] jonhue opened #944 "add_contents without pushing to repo"
I am frequently getting an `Octokit::AbuseDetected` error because my app triggers too many API requests.

I am using the `add_contents` method to add each file inside of a specific directory to a remote repository: (one by one)

[code]

Is there a way to either push all files inside of a directory to a remote repo at once or to first add the contents locally and then push the repo?

[2017-10-10 21:42] t3rse opened #945 "Failing to reset github instance endpoint"
I am using Octokit successfully to obtain project/repo information. However when I attempt to reset the endpoint to work on a different github instance, the URL (and other info) are not overwritten.

Here is the code I'm using to try to toggle my Octokit clients - one to point to a hosted instance and another to point to github.com:

[code]
...
[code]

I am newer to Ruby but it seems as though whi

[2017-10-13 21:40] iCreateJB commented on #945
Seems like you should be doing this setup on the object instantiation perhaps ?

[code]

[2017-10-13 23:44] iCreateJB commented on #935
Substitute: organization/repo_name

You'll have to filter by user

[example]
  `octokit/octokit.rb`

[code]

[2017-10-14 00:16] iCreateJB commented on #931
Not a bug.

Looking at the interface, you should probably call it like this :

[code]

[code]

[2017-10-14 00:25] iCreateJB commented on #930
I believe this is a client level setting, not an individual call based setting.

[code]

[Reference](https://github.com/octokit/octokit.rb/blob/8404007e9e11d3695df0907adcb3514decd23287/lib/octokit/connection.rb#L80-L82)

[2017-10-16 15:23] kytrinyx commented on #931
@iCreateJB Thank you—yes, that does look right.

@gjtorikian I'm going to de-classify this as a bug, but add a documentation label, because this could use some extra emphasis.

[2017-10-16 15:25] iCreateJB commented on #931
I could add some plus an example or two.

Do you have a designation of where you would like it @kytrinyx ?

[2017-10-16 15:41] kytrinyx commented on #931
That would be lovely, @iCreateJB. How about the "making requests" section of the README?

[2017-10-16 21:06] #935 closed

[2017-10-16 22:23] #931 closed

[2017-10-19 13:35] greysteil commented on #936
(I'm not GitHub staff.)

It's absolutely possible to update the contents of a submodule - we do it in Dependabot [like this](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator.rb#L66-L92). (Obviously you also need to create a commit with that tree, and push it.)

[2017-10-23 00:16] iCreateJB commented on #945
cc @kytrinyx

[2017-10-23 00:17] iCreateJB commented on #930
cc @kytrinyx

[2017-10-23 12:13] greysteil opened #952 "Release v4.8.0?"
It's been a while since the last release (which was in March) and there are a *lot* of [changes on master](https://github.com/octokit/octokit.rb/compare/v4.7.0...master). Would be rad to get them released - is there anything blocking?

[2017-10-24 04:44] kytrinyx commented on #930
@iCreateJB While I think a client-level option does work, I don't think that comes into play here. Pagination works for me when I use the method-level per_page option:

[code]

[2017-10-24 04:48] kytrinyx commented on #930
@jvergeldedios would you try using the middleware shown in the debugging section of the README? This might show how the octokit request is different from the `curl` request.

https://github.com/octokit/octokit.rb#debugging

[2017-10-24 04:52] kytrinyx commented on #945
@iCreateJB thanks! Yes, this is the right approach to take.

@t3rse does passing the `api_endpoint` to your client during initialization solve this problem?

If so, let's update the documentation in the [Working with GitHub Enterprise](https://github.com/octokit/octokit.rb#working-with-github-enterprise) section of the README to show both types of initialization.

[2017-10-24 06:17] GoogleJacob opened #954 "New email"
Jakechassereau@gmail.com is the one right now

[2017-10-24 16:21] #954 closed

[2017-10-24 16:21] tarebyte commented on #954
@GoogleJacob not sure what the context of this is, maybe the wrong issue?

[2017-10-30 22:26] jedrekdomanski opened #957 "Unable to pull organizations for an authenticated user"
Hi,

According to GitHub API and Octokit documentation, a user can list his organizations:
- all public organziations if not authenticated
- all organziations including private if authenticated

Now, I authenticate using OmniAuth, I get a token back in the response, then I do:

[code]
and I get 403 Forbidden error:
[code]
In omniauth config I provide the scope:
[code]
I tried both scopes and even

[2017-10-30 23:07] jedrekdomanski commented on #957
So I gave it one last shot using basic auth this time:
[code]
and it worked fine. So it looks like Octokit does not support listing organizations for authenticated user using OAuth, only basic auth. Is that correct?

[2017-11-08 12:57] MatheusRich opened #960 "Can't add assignees to issue"
Hi,

I'm trying to add assignees to issues like this:
![image](https://user-images.githubusercontent.com/20938712/32550166-3d147c52-c473-11e7-882b-b7a09cf12285.png)

Though I'm getting this response:
![image](https://user-images.githubusercontent.com/20938712/32550225-68c329de-c473-11e7-82d0-c1005f97b8b0.png)

Is this a bug, or am I doing something wrong?

[2017-11-08 15:02] tarebyte commented on #960
@MatheusRich it looks like `add_assignees` isn't included in the latest release of Octokit https://github.com/octokit/octokit.rb/blob/v4.7.0.

This should be resolved if you pull from master, but in the long term I need to cut a new release.

[2017-11-08 15:02] #960 closed

[2017-11-09 17:19] iCreateJB commented on #957
Check the scope of your token, it may have only been granted with particular scopes.

[2017-11-09 20:10] jedrekdomanski commented on #957
Nevermind, I just made deeper investigation of Github API and figured out that a token is required to access public data from it.

[2017-11-09 20:10] #957 closed

[2017-11-09 23:55] gabrieljoelc commented on #280
Trying to run this:
[code]

I selected each one progressively, reauthenticating each time, for all of the `repo` scopes and didn't get results until I checked `repo` (Full control of private repositories).

[2017-11-16 15:04] tarebyte commented on #952
We agree that we need to cut a release, sorry it's been a while 😅

# TODO
- [ ] Write up the changelog
- [ ] Ensure there aren't any breaking changes
- [ ] If there breaking changes cut a branch release candidate for 4.8.0 and another for 5.0.0
- [ ] Run rake task to send release(s) to Rubygems and GitHub
- [ ] Post change log to release notes

[2017-11-16 15:06] tarebyte commented on #945
This looks like it has been solved, @t3rse please feel free to open this back up if you experience this issue again.

[2017-11-16 15:06] #945 closed

[2017-11-16 15:13] tarebyte commented on #940
Going to close this as it is a duplicate of https://github.com/octokit/octokit.rb/issues/912 like you mentioned.

@skamsie would you be interested in open in a PR to make this change? It seems like the correct approach.

Thanks!

[2017-11-16 15:13] #940 closed

[2017-11-16 15:14] tarebyte commented on #936
Looks like this has been solved. Thanks for tackling this @greysteil!

[2017-11-16 15:14] #936 closed

[2017-11-16 15:15] tarebyte commented on #930
This looks like this has been solved so I'm going to close it. @jvergeldedios please feel free to open this back up if you need more assistance.

Thanks!

[2017-11-16 15:15] #930 closed

[2017-12-06 20:11] pyaephyoswe commented on #554
Better ' Good.
pyaephyoswe569@gmail.com

[2017-12-12 20:30] tekHudson commented on #935
I see what is happening I believe. I am not seeing PRs on Private repos. Should this have access to them?

[2017-12-12 20:39] tekHudson commented on #935
OK, So issue was with the token I made in Github. Had insufficient access.

[2017-12-12 20:40] kytrinyx commented on #935
@tekHudson your access to private repositories will depend on two things:

- the authorization for the call (e.g. if using a personal access token, does the user have access)
- the access level (e.g. for personal access tokens, it will need the `repo` scope)

_update: I see that you just figured out that it was the token scope_

[2017-12-12 21:21] kytrinyx commented on #944
This is how I do it. I write my scripts so that they add all the files, commit, and then push up to the remote. I think Git pushes are rate limited, but nowhere near as strictly as the API (I've never actually run into the limit, I just think that there is one).

[2017-12-13 16:28] HIMANSHU-ELIGIBLE opened #965 "branch_protection options updated"
https://developer.github.com/enterprise/2.12/v3/repos/branches/#update-branch-protection

I used method as
`client.protect_branch("Reponame", "master", { enforce_admins: true, required_pull_request_reviews: nil, required_status_checks: { strict: true, contexts: checks_to_enable } })` to get it working again. Comment needs to be updated to be aligned to this.

[2017-12-13 23:48] tarebyte commented on #965
Thanks for the report, please feel free to open a pull request to fix this 😄

[2017-12-13 23:48] #965 closed

[2017-12-15 21:36] hyandell opened #967 "Updating a team member's role"
I was recently scripting a change to update team member's role to maintainers.

There are two functions in organizations.rb that look like they would do this:

add_team_member
add_team_membership

In both cases an example would be useful (happy to PR).

The add_team_member function appears to be for adding existing org-members, while add_team_membership is implied to be for adding non-org-members.

[2017-12-18 12:14] FelixFortis opened #968 "[QUESTION] Only able to access Organisation repos"
Hi there, I've just started using the GitHub API and your library, and a have a quick newbie question for you.

I've generated a personal access token [here](https://github.com/settings/tokens).

Then I try:

    client = Octokit::Client.new(access_token: "my_pa_token")
    #<Octokit::Client:0x809b868>
    client.repos
    #=> an array of repos for organisations that I have access to

The problem

[2017-12-18 14:02] tarebyte commented on #968
@FelixFortis so what' probably happening here is that you are only getting back 30 results due to [pagination in the GitHub API](https://developer.github.com/v3/#pagination)

If you want to get more results try the suggestions in the README here: https://github.com/octokit/octokit.rb#pagination

[2017-12-18 14:33] FelixFortis commented on #968
@tarebyte that was exactly the problem, thanks for your help!

[2017-12-18 14:33] #968 closed

[2017-12-18 15:24] tarebyte commented on #967
@hyandell I think there is some confusion here because those functions are actually two different API's

Source and documentation links for referral:

https://developer.github.com/v3/orgs/teams/#add-team-member
https://github.com/octokit/octokit.rb/blob/ae1636f71fb02e0b858f54f755b5701d5fcb06ac/lib/octokit/client/organizations.rb#L392-L418

https://developer.github.com/v3/orgs/teams/#add-or-update-

[2017-12-20 17:26] kytrinyx commented on #952
## TODO
https://github.com/octokit/octokit.rb/pull/892 removes support for the deprecated Integrations namespace, replacing it with `Apps`. I think we need to assign `Apps` to a new constant `Integrations` so that we don't cause a backwards-incompatible change.

## Changelog notes

Using https://github.com/octokit/octokit.rb/compare/v4.7.0...master

We have been unable to get a rubinius build work

[2017-12-20 17:43] kytrinyx commented on #952
Wait. It says that #892 aliases the namespace. I can't see which line. Looking more carefully.

[2017-12-20 17:46] kytrinyx commented on #952
Oh, I see what's going on. We don't actually reference the namespace directly (e.g. Octokit::Client::App). So this is fine.

Sorry about the kerfuffle!

[2017-12-20 18:25] kytrinyx commented on #952
Alrighty! Here it is: https://github.com/octokit/octokit.rb/releases/tag/v4.8.0

[2017-12-20 18:25] #952 closed

[2017-12-20 21:07] greysteil commented on #952
🎉

[2017-12-22 13:18] milch opened #971 "Documentation on paging is confusing"
Here's the page I'm referring to: https://developer.github.com/v3/guides/traversing-with-pagination/

Check out the following statement, taken from the page:

That `:next` and `:prev` don't (and can't) always exist is pretty clear from this, however, arguably the first and last page when only one page exists is that exact page. Further adding to the confusion is that the sample code also acts like

[2018-01-09 21:07] stmllr opened #974 "Pagination fails for some GitHub App APIs"
It seems that Octokit is unable handle pagination for some of the GitHub Apps API. It only returns the result for the first page. Even if there are more items.

Take the APIs to list repositories as an example:

Pagination expects `last_response.data` to be of Type Array, but App API returns Sawyer::Resource instead. Therefore concat of subsequent responses fails:

[code]
https://github.com/octoki

[2018-01-11 18:15] tarebyte commented on #974
@stmllr thanks for reporting this!

We've confirmed this bug, and have actually found it in multiple methods 😬

- https://github.com/octokit/octokit.rb/blob/40e16e6b951901d4b864777c9dbbc9f321eac4a3/lib/octokit/client/apps.rb#L37
- https://github.com/octokit/octokit.rb/blob/40e16e6b951901d4b864777c9dbbc9f321eac4a3/lib/octokit/client/apps.rb#L158
- https://github.com/octokit/octokit.rb/blob/40e16e6b

[2018-01-11 18:18] tarebyte commented on #971
The best way to raise a bug or question would be to email support@github.com 😄

I'm going to close this since it really isn't related to Octokit.

Thanks for bringing up this issue and inconsistency @milch ❇️

[2018-01-11 18:18] #971 closed

[2018-01-11 18:19] tarebyte commented on #967
Closing due to staleness

[2018-01-11 18:19] #967 closed

[2018-01-11 18:19] tarebyte commented on #944
Closing due to staleness

[2018-01-11 18:19] #944 closed

[2018-01-19 16:26] mayrsascha opened #979 "Configuration option for timeout"
On the app I am working on we are making calls to the GitHub API, some of them are needed to render certain views. Recently some of those calls were slow and the view was "loading" for about 60 seconds before showing an ugly load balancer timeout page to the user (60 seconds are set on the load balancer as timeout).

I would like to configure a shorter timeout/ fewer retries to the API and show an

[2018-01-19 16:53] tarebyte commented on #979
@mayrsascha we have an example of that for the stats api

https://github.com/octokit/octokit.rb/blob/495565432a0cafb21a06389581ee36169ab5cb34/lib/octokit/client/stats.rb#L84-L102

And it's been requested https://github.com/octokit/octokit.rb/issues/888 but we haven't had time to implement it.

Hope that helps!

[2018-01-19 17:54] mayrsascha commented on #979
@tarebyte Thanks for your quick reply. Indeed my request is the same as in #888 so feel free to close this issue. Is there an ETA on this feature?

[2018-01-19 18:00] tarebyte commented on #979
@mayrsascha not at the moment I'm afraid, I've been super busy with work

But I'd be happy to review a PR if one should come in  😄

[2018-01-19 18:00] tarebyte commented on #979
Closing because this is a duplicate of #888

[2018-01-19 18:00] #979 closed

[2018-01-24 01:29] taquitos opened #981 "Can't set SSL verify mode in faraday options"
When people use proxies for connection, they might want to disable SSL verification. This often helps during debugging when using a proxy like [Charles Proxy](https://www.charlesproxy.com).

The primary driver for this feature is to enable developers to use a proxy while they are debugging their own application that makes use of octokit.

[2018-01-24 01:38] taquitos commented on #981
Here's an example of usage:
[code]

You can see how we do something very similar in _fastlane_ [client.rb usage of verify mode](https://github.com/fastlane/fastlane/blob/1a79353a6d918eddca61274e97962a5f2770210e/spaceship/lib/spaceship/client.rb#L220-L224)

[2018-01-25 20:56] licatajustin opened #983 "Remove assignees API"
Unless I'm mistaken, currently we're not able to [remove assignees](https://developer.github.com/v3/issues/assignees/#remove-assignees-from-an-issue) from Issues/Pull Requests with this library.

Is this something you are open to accepting Pull Requests for? Here is the [GitHub API](https://developer.github.com/v3/issues/assignees/#remove-assignees-from-an-issue) for it.

---

P.S.: thanks for thi

[2018-01-25 22:18] tarebyte commented on #983
@licatajustin absolutely we’d be open to that 😄

[2018-01-26 04:07] licatajustin commented on #983
Closing this issue in favor of the open PR: https://github.com/octokit/octokit.rb/pull/984. Thanks again for this lovely library maintainer!

[2018-01-26 04:07] #983 closed

[2018-02-05 21:29] BasThomas commented on #981
Think this can be closed as #982 has been merged. :)

[2018-02-05 22:02] #981 closed

[2018-02-05 23:40] taquitos commented on #981
Sorry about that, thank you! 🎈:goat:

[2018-02-12 21:24] hahmed commented on #920
@kytrinyx can you point me along the right direction in fixing this?

Looks like all we need to do is check if the response has base64 inside the encoding then encode content as base64.

[code]

https://github.com/hahmed/octokit.rb/commit/cfb7f5413be4da5278b3f2c6a9ffae393e4161d3#diff-c5bbd24771f20209a3fa4e3766ba01afL19

[2018-02-12 21:48] hahmed commented on #907
Could not reproduce this bug, looks like I'm getting an array back from the api and client for a single ref, here is my curl request:

[code]

Here is the result from the client:

[code]

[2018-02-22 16:34] ZASMan opened #986 "Uploading Images with Octokit"
I'm looking through the documentation, is there a way to send image data from another rails database to Github?

[2018-02-22 16:51] tarebyte commented on #986
Hi @ZASMan

At this time the GitHub API doesn't support image uploading.

[2018-02-22 16:51] #986 closed

[2018-03-01 06:51] AbNoir commented on #888
rery_timeout = options.delete ( : retry_timeout )
   retry_wait = options.delete ( : retry_wait ) ||  0.5
   مهلة =  الوقت . الآن + retry_timeout
 النهاية
 حلقة  القيام به
   البيانات = الحصول على ( " # { مستودع .path الريبو } / احصائيات / # { قياس } " ، والخيارات)
   العودة البيانات إذا last_response.status ==  200
   العودة  شيء  ما لم retry_timeout
   العودة  لا شيء  إذا  الوقت . الآن > = المهل

[2018-03-01 18:17] malakai97 commented on #965
Confirmed latest release still affected

[2018-03-05 15:06] europ opened #988 "Wrong example in documentation"
http://www.rubydoc.info/gems/octokit/Octokit%2FClient%2FReviews:dismiss_pull_request_review

Example with 3 arguments while 4 arguments are required.
`@client.dismiss_pull_request_review('octokit/octokit.rb', 825, 6505518)`

Missing argument:
`message (String) — The message for the pull request review dismissal`

[2018-03-05 15:34] tarebyte commented on #988
Thanks for catching that @europ! Minding opening a Pull Request?

[2018-03-05 19:14] europ commented on #988
@tarebyte Not a problem.

[2018-03-05 19:47] europ commented on #988
@tarebyte Not a problem.

[2018-03-06 19:51] jrochkind commented on #359
This is super old and probably solved, but you can (at least currently) tell   Faraday::HttpCache to cache "private" things, as a private cache.

    builder.use Faraday::HttpCache, store: whatever, shared_cache: false

[2018-03-06 21:15] ohookins commented on #888
I haven't done anything about this on my end, although I was looking into making a Faraday middleware to implement the retries. Perhaps that's an acceptable alternative without introducing a new concern into the SDK? But it might help to have an example implementation somewhere.

[2018-03-06 23:24] kytrinyx commented on #888
Yeah, definitely. If you do get something working at the middleware level, would you post something here?

[2018-03-09 15:01] kytrinyx commented on #965
@malakai97 would you mind opening a pull request with a fix?

[2018-03-09 15:03] kytrinyx commented on #907
Thank you, @hahmed. I'm going to go ahead and close this. If someone has a reproduction case, please give us the details so we can reopen this.

[2018-03-09 15:03] #907 closed

[2018-03-09 15:06] kytrinyx commented on #920
This looks like a different issue. Did you mean to solve this one?
 https://github.com/octokit/octokit.rb/issues/663

[2018-03-09 15:08] #988 closed

[2018-03-16 02:59] Selfbotman opened #991 "octokit"

[2018-03-18 15:15] jonhue opened #992 "Octokit::UnprocessableEntity: 422 - Invalid request. "sha" wasn't supplied."
Here is the error I am getting:

[code]

I am trying to upload the contents of an entire folder to GitHub:

[code]

The error occurs with the first attempt to upload a file.

[2018-03-18 15:27] tarebyte commented on #992
It looks like the API is working as expected, it looks like you are missing the sha in your request.

From https://developer.github.com/v3/repos/contents/#update-a-file

So your code might need to look more like this

[code]

Hope this helps!

[2018-03-18 15:27] #992 closed

[2018-03-18 15:33] jonhue commented on #992
@tarebyte

Thanks for your help! I think you meant `next if File.directory?(path)` instead of `next unless File.directory?(path)`

I now get the following error, after adding the `sha` option:

[code]

[2018-03-18 15:34] tarebyte commented on #992
I sure did 😅 and the sha I added was just an example, you'll need to provide your own.

[2018-03-18 15:37] jonhue commented on #992
@tarebyte

How do I get the `sha` I need?

[2018-03-18 17:54] jonhue commented on #992
@tarebyte

This issue is weird... I did some more testing - and sometimes the code I provided does work just fine, whereas most of the time it throws an error.

[2018-03-20 05:05] trejkaz opened #993 "It should be easier to get my list of PRs"
I'm trying to get the same list of PRs which I get when I go to `/pulls` on the web site itself. Essentially, PRs I submitted which haven't been merged yet. I was investigating using an API to pull this information so that I could match it up with information in other systems here and maybe create a single output with all the info.

So I tried this:

[code]

This fails, because it wants a reposito

[2018-03-20 13:50] tarebyte commented on #993
Hi @trejkaz so it looks like there are a few things going on here so I'm going to do my best to break them up.

There isn't an endpoint in the REST API that supports that feature. However you can do this with a [GraphQL Request](https://developer.github.com/v4/)

The request would look more or less like this:

[code]

The method you are trying to use it actually this API https://developer.github.c

[2018-03-20 13:50] #993 closed

[2018-03-20 23:54] trejkaz commented on #993
Wow... who would have thought that a method called "all" repositories would only return public ones. (Principle of least surprise...)

[2018-03-21 04:40] trejkaz commented on #993
I got it working initially by iterating users and using `organization_repositories` when the user is `type:Organization`. It's a bit of a brute force approach, but it's giving me the data I'm after.

I tried to use GraphQL adapting an example I found on another ticket...

[code]

This gives me a 403:

[code]

At first glance the error looks weird, but looking at the URL, I guess I'm being redirect

[2018-03-21 13:11] jonhue commented on #992
@tarebyte

This issue is still occurring. Could you reopen it?

[2018-03-21 13:27] tarebyte commented on #992
@jonhue so I think I see why you're getting the intermittent error.

If you are creating something new you don't need the `sha` https://developer.github.com/v3/repos/contents/#create-a-file

But if you are updating content you do need the sha https://developer.github.com/v3/repos/contents/#update-a-file

So the reason you're getting the `409` conflict is because you're not checking to see if the c

[2018-03-21 13:32] jonhue commented on #992
@tarebyte This was my initial thought as well. But it is not the case. Here is what I do:

1) delete repo if a repository with name exists
2) create repository
3) add contents

After the error occurred and the script stopped, the repo has been created but it is empty. There is no way that a file could not upload because another file already exists.

[2018-03-21 16:52] kytrinyx commented on #992
Just catching up on this discussion. I'm going to go ahead and reopen this until we get all the questions sorted out.

[2018-03-21 16:56] kytrinyx commented on #992
Ok, I *think* I've caught up, and I changed my mind about reopening this... as far as I can tell, the API and the octokit.rb client are working as expected.

@jonhue would you mind bringing your questions to support@github.com? It sounds like you're stuck on how to call the API rather than this being a bug, and support is a better venue for that.

[2018-03-21 17:19] jonhue commented on #992
@kytrinyx

GitHub Support wasn't really helpful. It said they don't provide support for this library and I should give them the response to the `curl` command, which I don't have.

I listed here how I am calling the GitHub API, what's wrong with it?

[2018-03-21 22:06] kytrinyx commented on #992
@jonhue Yes, that's correct; Support doesn't provide support for the library. From my reading of the previous discussion, I was under the impression that you're having trouble with the API itself, not with the library.

Would you please list the exact commands that you're having trouble with? If possible, create a small reproducible test case.

[2018-03-22 15:41] jonhue commented on #992
@kytrinyx Here is what I do:

1) delete repo if a repository with name exists
2) create repository
3) add contents
[code]

This error is super weird. I did upload content in this way for a long time without having any problems. This error just recently popped up, but most of the time creating content through the API works well. I haven't noticed a pattern yet.

[2018-03-22 17:59] kytrinyx commented on #992
If you don't do this in a loop, but do it with a specific path, does it work?
If it doesn't work, are you able to create something with just a single, simple text file rather than an entire directory?
If not, are you able to do it with plain text instead of emoji as your argument?

[2018-03-22 20:47] jonhue commented on #992
1) Yes it does work. But mostly my current solution works well too.
2) ...
3) I previously used plain text and it did not make any difference.

[2018-03-22 21:19] kytrinyx commented on #992
@jonhue I'm trying to help you narrow down your problem. If your solution mostly works, then this is very unlikely to be a problem in the Octokit client.

If it mostly currently works, then I'd suggest that you find a way to pinpoint the use case where it _doesn't_ work. Without a failing case we can't give you any pointers.

[2018-03-22 21:26] kytrinyx commented on #992
@jonhue Since this is not a problem with the library itself, I'm going to go ahead and lock this issue.

I'd recommend that you get help with your debugging troubles in the wonderful CodeNewbie forum or slack: https://www.codenewbie.org/ -- it's a great, supportive community of people learning together.

If you are able to pinpoint a failing case that points to a bug in octokit, then please open a

[2018-03-23 13:39] Kadaaran commented on #912
We've been encountering this issue in Classroom recently, can I start working on a PR if it's still up for grabs 👍

[2018-03-23 13:54] tarebyte commented on #912
@Kadaaran go for it 👍

[2018-03-29 17:45] russellballestrini opened #995 "Fetch a single Github Deployment by ID"
From the Github API I see that it is possible to fetch a single Github Deployment (https://developer.github.com/v3/repos/deployments/#get-a-single-deployment).

That said, at frst clance it doesn't appear that octokit supports this, am I mistaken?

It seems like this file only needs the following (https://github.com/octokit/octokit.rb/blob/master/lib/octokit/client/deployments.rb):

[code]

If I m

[2018-03-29 17:49] tarebyte commented on #995
It would be! It does appear that we are missing that endpoint. Thanks @russellballestrini !

[2018-03-30 00:04] russellballestrini commented on #995
I think I'm having trouble triggering VCR to create a new entry in the "cassette".  Here is my PR: https://github.com/octokit/octokit.rb/pull/996

[2018-03-31 10:19] vladyio opened #998 "Add support for commits search"
As documented in https://developer.github.com/v3/search/#search-commits

[2018-03-31 14:34] vladyio commented on #998
close #998

[2018-03-31 14:34] #998 closed

[2018-03-31 15:18] #995 closed

[2018-04-04 07:43] vladyio opened #999 "Undefined method `search_commits`?"
Maybe I am doing something in a wrong way, but an attempt to call `search_commits` method is causing this error:

```[...] octokit-4.8.0/lib/octokit.rb:53:in `method_missing': undefined method `search_commits' for Octokit:Module (NoMethodError)```

I tried calling it under 2.4.0 and 2.5.1 rubies, both crash with the same error.

P. S. Also this method is not present at http://octokit.github.io/oct

[2018-04-04 13:10] tarebyte commented on #999
@vladyio we haven't cut a new release since `search_commits` was added.

Sorry for the confusion!

[2018-04-04 13:10] #999 closed

[2018-04-06 09:36] zerogvt commented on #15
A word of caution on using VCR for tests: It seems that VCR is keeping tokens (secrets that is) unencrypted in its cassettes (simple yaml files AFAIK). You can see your tokens if you grep for them in the fixtures folder. Now, assuming that you'll check in the fixtures onto a (probably) public repo you effectively will be exposing your tokens.

[2018-04-07 17:28] E3V3A opened #1001 "Missing issue label description does not conform to API documents"
I'm trying to parse the description of the issue labels, according to [this API documentation](https://developer.github.com/v3/issues/labels/#get-a-single-label) as linked form URL RESPONSE.

There you write:
[code]

Instead I get the following:
[code]

Thus missing the label `description`.

* **Is this a bug or am I doing something wrong?**

[2018-04-07 23:10] tarebyte commented on #1001
@E3V3A it looks like you're missing the `application/vnd.github.symmetra-preview+json` `Accept` header in your request.

[code]

[code]

Hope this helps!

[2018-04-07 23:10] #1001 closed

[2018-04-08 09:43] E3V3A commented on #1001
@tarebyte

Wow great! Yeah, that look much more promising. Is that from the new API?

**So how do I pass that header in?**

Right now I'm just using this:
[code]

Unfortunately, this is my first attempt to use Ruby, and wanted to make something useful,
so I'm not very familiar with all its details.

[2018-04-08 10:46] E3V3A commented on #1001
You are probably wondering what I am doing. I'm writing (yet another) issue migration script.
It is based on [this](https://github.com/TimothyBritt/github-issue-migrate/blob/master/lib/issue_migrator.rb) but I wanted improved handling and CLI.

Ok, so I just tried with:
[code]

With this I can read the (label) `name` and `colors`, but **not** the `description`, and I can copy the labels to a new r

[2018-04-08 22:20] E3V3A opened #1002 "Is there any working examples of how to create an issue with complete labels?"
I'm looking to create a new issue that also include all the label tags: `name`, `color` and `description`.
Are there any working examples anywhere?

PS. I have already attempted this (as mentioned in #1001), but colors and description seem to be ignored in the creation process.

[2018-04-08 22:25] E3V3A commented on #1001
There is no mention of any label `description` [here](http://octokit.github.io/octokit.rb/Octokit/Client/Labels.html#add_labels_to_an_issue-instance_method), so I think you should re-open this issue.

[2018-04-09 01:11] tarebyte commented on #1002
@E3V3A it's currently not possible in the GitHub API to create new labels while specifying the color and description. There is a limitation in the API right now that you can only set the name.

You would be better off making an API request to create the labels first, and then create the issues with the labels you created.

Something like this:

[code]

---

As a side note I really would have appre

[2018-04-09 01:11] #1002 closed

[2018-04-16 09:31] casperisfine opened #1004 "Octokit can't access [bot] users by login"
Demo:

[code]

It seems Octokit doesn't know how to handle escaping properly in this case.

[2018-04-16 11:32] casperisfine commented on #1004
After digging into the history, the extra escaping seem to have been introduced in https://github.com/octokit/octokit.rb/commit/f06d0763604bdf0a1f55e206a1988725c596a7b5 for the purpose of supporting the legacy search API.

Not sure if other endpoints rely on it though :/

[2018-04-18 14:44] casperisfine commented on #1004
Fixed in https://github.com/octokit/octokit.rb/pull/1006

[2018-04-18 14:44] #1004 closed

[2018-04-19 21:14] ZASMan opened #1007 "Documentation for getting single issue wrong"
<img width="1122" alt="screen shot 2018-04-19 at 5 10 46 pm" src="https://user-images.githubusercontent.com/13513340/39018708-d57b5032-43f4-11e8-9bf8-d9e0252b7aa7.png">

Scratched my head over this one for a minute. In your documentation, you put the example for getting a single issue as `issue_comments` rather than `issue_comment`.

[2018-04-20 01:56] ZASMan commented on #1007
Absolutely, I’ll get on it ASAP. Is the documentation all part of this repo?

[2018-04-20 02:49] tarebyte commented on #1007
Sure is!

[2018-04-20 12:26] tarebyte commented on #1007
Closed by #1008

[2018-04-20 12:26] #1007 closed

[2018-05-01 01:05] alaxalves commented on #776
@ahmadhasankhan We have this, but you might have already found one :smile:  : https://github.com/narkoz/gitlab

[2018-05-05 21:05] PhyoWaiMaung92 commented on #554
sb8244

[2018-05-05 21:06] PhyoWaiMaung92 commented on #554
#554

[2018-05-06 18:47] PhyoWaiMaung92 commented on #802
#802

[2018-05-08 13:15] #974 closed

[2018-05-13 16:27] alu0100816167 opened #1015 "undefined method `outside_collaborators'"
I'm trying to show outside collaborators for a specific organization. I already have admin role in that org but when using method
[code]
im getting undefined method `outside_collaborators' for #<Octokit::Client:id>

is there any change on the API or something?

[2018-05-17 16:30] chrisallick opened #1017 "@client.organization_repositories options not working (as expect?)"
Hello,
New to the octokit library and am trying to list my organization's private repositories sort by "updated." The "private" option appears to be working, but the sort does not. Maybe I'm mis-interpreting the "updated" option, but my expected result was that it would either be ascending or descending based on last changed?

I think I'm not understanding what "updated" constitutes.

Here is my c

[2018-05-17 16:41] tarebyte commented on #1017
Hi @chrisallick

The endpoint in questions [`/organizations/:organization_id/repos`](https://developer.github.com/v3/repos/#list-organization-repositories) doesn't actually support any kind of `sort` query parameter.

So it's not you, it's the endpoint 😄

I'm going to close this out, but please feel free to continue asking questions.

Thanks!

[2018-05-17 16:41] #1017 closed

[2018-05-17 17:18] tarebyte commented on #1017
@chrisallick unfortunately you cannot authenticate as an organization.

But if you'd like sorting supported for the organization repos endpoint I'd encourage you to reach out to GitHub Support (support@github.com) with your feature request.

[2018-05-22 13:02] cmccandless opened #1019 "Add support for installed app authentication"
See https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/ for more information.

If this feature is already supported and I missed it, please simply point me at the relevant documentation and I will close this issue.

[2018-05-22 19:49] cmccandless commented on #1019
Actually, I found it; added in #825. Closing this issue.

[2018-05-22 19:49] #1019 closed

[2018-05-28 10:50] #1015 closed

[2018-05-30 21:45] kytrinyx commented on #888
That is my favorite kind of fix :) Looking at your PR now.

[2018-05-30 22:51] kytrinyx commented on #888
Fixed in #1021

[2018-05-30 22:51] #888 closed

[2018-06-04 06:37] joho commented on #15
It's possible to work around VCR storing your auth secrets.

I've got a snippet in my `test_helper.rb` that configures VCR like this:
[code]
which does the following to my VCR cassettes:
[code]

[2018-06-07 12:56] Skarlso opened #1023 "Parent is nil on forked repository"
Hi. I'm trying to list all my forked repositories.

For this, this appears to be a good enough approach:

[code]

However, this doesn't display anything. Notice the commented out code. It displays nil as parent for every result it returns even though the result contains things like this: `"git@github.com:Skarlso/netdata.git"` which is not my repository. It's forked.

While the corresponding CURL d

[2018-06-07 17:36] glb opened #1024 "Octokit protect_branch not setting user / team restriction"
I'm trying to use `protect_branch` to restrict the users / teams that are allowed to merge the branch, but it seems to be clearing the existing settings rather than updating them.

For example:

[code]

shows me

[code]

but after calling:

[code]

I see:
[code]

and

[code]

also shows:

[code]

I have tried both `myteam/pr-approvers` and `pr-approvers` in the request with the same results.

Have

[2018-06-07 17:48] tarebyte commented on #1024
@glb after you call `gitclient.protect_branch` you should be able to call `gitclient.last_response` Would you minding pasting the results in here?

Thanks!

[2018-06-08 06:18] Skarlso commented on #1023
Never mind. So I gathered that I need to list the repositories, then do a Get on the repository in order to get its parent data.

[2018-06-08 06:18] #1023 closed

[2018-06-09 03:51] abinoda commented on #893
@kytrinyx As part of this, do you think the README should be updated to not use examples where methods are being called on `Octokit` directly? Want me to open a PR for this?

[2018-06-18 02:00] santi-h commented on #865
I just had the same issue. [The documentation](https://developer.github.com/v3/pulls/#list-pull-requests) is a bit misleading here:
![image](https://user-images.githubusercontent.com/876161/41514950-ac8a53da-7270-11e8-8074-982ec0ea077a.png)

[2018-07-04 20:04] CatGirlsAreLife opened #1027 "Readme does not say if I should require octokit in every rb file or not at all."
I would like to know because I want to create a simple CI that does something similar to the Python/cpython misc/news entry on pull requests or checking for skip news. I would like it if someone could help me convert their Python made CI to Ruby first so I get the general idea for mine. Also what about spell checking those entries as well? I would like to create another status on the same CI that

[2018-07-08 21:04] krisleech commented on #1027
You might be better to post on a Ruby forum as your question isn't specific to this library.

[2018-07-11 08:34] olingern opened #1028 "delete_pull_request_review_request is undocumented"
I noticed this landed in #990 but is undocumented here:

http://octokit.github.io/octokit.rb/Octokit/Client/Reviews.html

[2018-07-11 09:01] olingern commented on #1028
Closing this since it seems it's not released yet.

[2018-07-11 09:01] #1028 closed

[2018-07-12 02:35] olingern opened #1030 "Get repository pulls always returns empty array for `requested_reviewers`"
## Issue

For all open PRs, I would like to know the reviewers. Currently, the gem returns `requested_reviewers`; however it's always empty.

[Pull Requests Instance Method](http://octokit.github.io/octokit.rb/Octokit/Client/PullRequests.html#pull_requests-instance_method)
[code]

Sample return excerpt:
[code]

It's also undocumented in the JSON here:
https://developer.github.com/v3/pulls/#list-pu

[2018-07-12 02:42] abinoda commented on #1030
@olingern I believe this is by design. The "list pull requests" response doesn't include certain pull request properties. You have to get them via the [Get a single pull request endpoint](https://developer.github.com/v3/pulls/#get-a-single-pull-request), or use the GraphQL API.

[2018-07-12 02:48] olingern commented on #1030
@abinoda Also, empty in a single pull request.

If I'm already using the gem, I'd like to not mix GraphQL queries alongside with what the gem is doing.

It looks like I'll need to retrieve reviews per pull request via the [pull request review requests](http://octokit.github.io/octokit.rb/Octokit/Client/Reviews.html#pull_request_review_requests-instance_method).

Either way, an empty array, non-fun

[2018-07-12 03:00] abinoda commented on #1030
@olingern That doesn't seem right. I do a lot with reviews and review requests with @pullreminders and the `requested_reviewers` array should not be blank when fetching a single pull request. Would you mind posting a screenshot of the pull request itself to show that it has active review requests?

Also, you should know that once a review is submitted, the review request itself disappears. I've do

[2018-07-12 03:18] olingern commented on #1030
This is the response from this method on the gem. Much has been redacted for privacy reasons.

**The PR that exists with a reviewer who has requested changes:**

![image](https://user-images.githubusercontent.com/1470297/42610652-8693a3fa-85cd-11e8-9a61-16c4552613b8.png)

**The response from the Github API for that PR:**
[code]

[2018-07-12 03:20] abinoda commented on #1030
@olingern I updated my previous comment a bit with information on this, but what's going on with that PR is that there is no review request. When the red :x: is displayed it means that the requested reviewer left a review (requesting changes) and so the review request is nullified.

Does that make sense?

[2018-07-12 05:00] olingern commented on #1030
@abinoda It does make sense. Thanks for your help.

My use case is I would like to remind the person who assigned as a reviewer to a PR via a bot. You're right and I was able to use the `pull_request_reviews` to get `shioyama`'s review.

I guess this is a different issue, but it would be nice to grab reviewers who are in either state ( reviewed / non-reviewed ) in one query. Ideally, it would be o

[2018-07-12 05:00] #1030 closed

[2018-07-12 19:35] #912 closed

[2018-07-16 19:34] johan1252 opened #1031 "auto_paginate does not work for retrieving PR statuses"
If doing client.statuses(repo, sha), then the setting of auto-paginate has no affect.
The api call will always return only one page. There are cases where a PR has many statuses set and can go over the one page limit.

In lib/octokit/client/statuses.rb the following line 16
[code]

Should be changed to use paginate function.

[code]

[2018-07-16 19:37] tarebyte commented on #1031
@johan1252 the change looks fine to me, mind opening up a pull request?

[2018-07-16 19:41] johan1252 commented on #1031
@tarebyte Yep I'll open one up

[2018-07-18 21:44] ptoge opened #1033 "add_collaborator method not working"
Hi,

I am trying to call the 'add_collaborator' method in my code like the following:

But this does not work and I get errors like this in pry:

What is interesting is, the 'update_organization_membership' method:

Works, as it returns an object that contains repo information.

Why is 'add_collaborator' not working?

Thanks in advance!

[2018-07-18 21:48] tarebyte commented on #1033
@ptoge are you able to reproduce this issue using CURL, and if so would you mind dropping the requests in this issue?

Thanks!

[2018-07-19 19:48] milani opened #1035 "Regenerate octokit.rb documentation on octokit.github.io"
I was searching for user app installation functionality and I could not find it at http://octokit.github.io/octokit.rb/Octokit.html. After digging a little bit, I figured out the document is for an older release (`v4.7.0`).

So updating the documentation is highly appreciated.

[2018-07-19 21:39] ptoge commented on #1033
Hi tarebyte,

No, we are unable to reproduce this issue with cURL.  The following command works just fine for adding a collaborator to a repo:

Thank you!

[2018-07-22 08:21] abinoda opened #1036 "New release"
@tarebyte Any way you could publish a new release? It looks like this projects on a ~quarterly release cycle but there are some nice updates that would be great to get through a release.

[2018-07-26 09:31] latentflip opened #1037 "New delete_pull_request_review_request method doesn't match api"
I think the logic for the new method for deleting multiple pull request reviewers is wrong when you want to also remove team reviewers.

https://github.com/octokit/octokit.rb/blob/eba9b41bfe78d34c5ec57a075ab833e91d24179c/lib/octokit/client/reviews.rb#L173-L184

The example params show:

[code]

which is exactly the structure we [expect in the api](https://developer.github.com/v3/pulls/review_reque

[2018-07-26 11:03] tarebyte commented on #1037
That sounds like a good plan to me, mind opening up a pull request?

[2018-07-26 11:39] latentflip commented on #1037
@tarebyte now that I look at it again, I wonder if just dropping the reviewers arg would be better? Having two separate hashes as arguments one after the other, which are then just merged could be awkward? Do we handle cases like this somewhere else?

I can open the PR for the change, but I'm not sure that I have time at the moment to figure out how to change the tests to actually assert for this,

[2018-07-26 16:48] #1031 closed

[2018-07-26 16:52] kytrinyx commented on #1027
@CatGirlsAreLife As @krisleech mentioned, your question is not specific to this library, so I'm going to go ahead and close it.

[2018-07-26 16:52] #1027 closed

[2018-07-26 16:55] kytrinyx commented on #1033
Thank you @ptoge, it looks like this is a bug in the `add_collaborator` method specifically.

[2018-07-26 16:59] CatGirlsAreLife commented on #1027
Well I figured out that I do need to require it on every rb file I make.

However now I have to make it like how I explained at https://github.com/github/platform-samples/issues/196

[2018-07-26 17:01] kytrinyx commented on #1036
@abinoda We can definitely cut a release soon. There's one open issue we'd like to get sorted before we do, but we *think* we're close on that.

[2018-07-26 20:18] ptoge commented on #1033
Hi all,

Sorry I discovered this was a false alarm.  This was not a bug but an issue on my end.  I incorrectly set the scopes for the impersonation token I generated previously.  After adjusting the scopes I was able to use the 'add_collaborator' method.

[2018-07-26 21:13] kytrinyx commented on #1033
@ptoge thank you so much for checking back in and letting us know. I'm going to close this issue.

[2018-07-26 21:13] #1033 closed

[2018-07-27 20:36] abinoda commented on #1036
@kytrinyx Sounds good! Thanks so much, and sorry to bug.

[2018-07-27 20:36] #1036 closed

[2018-08-01 16:52] kytrinyx commented on #1037
@latentflip @tarebyte I will see if I can get a PR in for this for open source Friday

[2018-08-01 23:02] BenEmdon opened #1039 "Proposal: Octopoller - here to solve all your polling needs"
## Octopoller 🦑
This is a proposal to add Octopoller to octokit.
Feedback/ideas would be appreciated 😄

The code for Octopoller can be found in [education/classroom](https://github.com/education/classroom) at: https://github.com/education/classroom/blob/master/lib/octopoller.rb

## What is Octopoller
I created Octopoller, a polling micro module for [education/classroom](https://github.com/educatio

[2018-08-06 15:31] kytrinyx commented on #1037
My Friday got away from me. I'm taking a stab at it today.

[2018-08-06 17:42] kytrinyx commented on #1037
We're going to need to make two adjustments.

1. The _create a review request_ (`request_pull_request_review`) method currently takes an array of `reviewers`. This will need to be deprecated and `:reviewers` should be added to the `options` hash.
1. The _delete a review request_ (`delete_request_pull_request_review`) method needs to deprecate the `reviewers` hash, adding it to the options hash.

I

[2018-08-07 01:43] kytrinyx commented on #1037
Quick update: I'm pretty sure I have working code, but I can't regenerate valid VCR cassettes for CI. @tarebyte and I are pairing tomorrow to get it sorted.

[2018-08-07 15:41] #1037 closed

[2018-08-07 15:44] kytrinyx commented on #1037
We sorted it!

I'll be cutting a release in the next day or so (back to back meetings today, otherwise I'd do it now).

[2018-08-08 03:33] JuanitoFatas opened #1048 "Intermittent test failure on Ruby 2.2.x"
Open this issue for future investigations.

This test:

https://github.com/octokit/octokit.rb/blob/b57d51bc3f810aeb39a8029654c1139ba1f1caa2/spec/octokit/client_spec.rb#L314-L317

sometimes failed:

[code]

From [this build](https://travis-ci.org/octokit/octokit.rb/jobs/413404668).

[2018-08-09 21:30] #933 closed

[2018-08-10 17:12] da-edra opened #1049 "Getting an "Octokit::Client does not implement #customer" when running tests with Rspec"
Hello, I'm creating tests using Rspec for a Rails API that uses Octokit, but the tests related to the validation of user data keeps failing with this error:

[code]

This is part of my `customer_authenticator_spec.rb`:
[code]
This is my `customer_authenticator.rb`:
[code]
And my `customer.rb` model:
[code]

What could be the cause of this problem and what are the possible outcomes?
I'm using Octok

[2018-08-10 19:57] #1049 closed

[2018-08-15 21:05] charlottestjohn opened #1051 "add_team_repo call now gets 422 from GitHub for "name" is not a permitted key."
Line of code that I think is driving this https://github.com/octokit/octokit.rb/blame/master/lib/octokit/client/organizations.rb#L527

Reference to the api itself https://developer.github.com/v3/teams/#add-or-update-team-repository - permission is only allowed field to be passed.

My assumption is that prior to today; GitHub did not fail when it received additional parameters; and something change

[2018-08-16 20:29] BenEmdon commented on #1051
+1 this is also happening over at [`education/classroom`](GitHub.com/education/classroom)

[2018-08-27 17:34] themightychris opened #1057 "Support for reading/setting label descriptions"
As originally brought up in #1001, octokit.rb does not seem to currently support reading or writing label descriptions

This capability was added to octokit.net back in March: octokit/octokit.net#1786

[2018-08-28 17:32] greysteil opened #1058 "Can we get a release with #1055 in it, please?"
Hey team,

According to [this changelog entry](https://developer.github.com/changes/2018-08-16-renaming-and-deprecation-of-github-app-installation-access-token-route/) the route that apps hit to authenticate an install will change on 4th September.

Without a release that includes #1055 that means all apps using octokit.rb to access that endpoint will break on 4th September.

Would it be possible

[2018-08-30 14:42] tarebyte commented on #1058
Done https://github.com/octokit/octokit.rb/releases/tag/v4.11.0

[2018-08-30 14:42] #1058 closed

[2018-08-30 14:43] greysteil commented on #1058
Hero, thanks @tarebyte!

[2018-08-30 15:29] tarebyte commented on #1035
Done! See https://github.com/octokit/octokit.rb/pull/1059

[2018-08-30 15:29] #1035 closed

[2018-09-04 23:38] BenEmdon commented on #1039
Friendly bump 🙂 @tarebyte @kytrinyx

[2018-09-06 10:15] casecamp opened #1061 "(Faraday::ConnectionFailed) "execution expired""
Hi Team,

we were facing the above issue from today morning.
we haven't changed any of the code which was working properly.

[code]

My code

[code]

Please help me out in resolving the above.

Thanks

[2018-09-06 12:51] tarebyte commented on #1061
@casecamp this sounds like an issue with GitHub dotcom rather than the client library. Usually `Faraday::ConnectionFailed` is when something times out on GitHub's side and we don't send back a response.

Mind reaching out to [support](https://github.com/contact)?

Thanks!

[2018-09-06 12:51] #1061 closed

[2018-09-06 14:56] #891 closed

[2018-09-09 17:41] kytrinyx commented on #1039
@BenEmdon thanks so much for this!

I chatted with @tarebyte about this and we have a few thoughts.

We think that the behavior is very useful, and should be made available to folks using octokit.

The current project that I'm working on in the GitHub REST API, is going to allow us to do a bunch of code generation in this gem. As part of that we're going to want to take a step back and think about

[2018-09-10 10:09] tarebyte commented on #1039
Sure does, you have an invite in your inbox 😄

Probably it's own section talking about when polling would be useful and using the gem as an example with a link.

I think the current naming is fine.

[2018-09-10 17:30] BenEmdon commented on #1039
I tried to transfer ownership of octopoller.rb to the octokit org but I was met with this error message:

@tarebyte how should I transfer ownership?

[2018-09-10 19:46] kytrinyx commented on #1039
It looks like this is sorted, but for the future: you can only transfer to (a) another user, or (b) an org you are admin of. My standard approach is to transfer to a user who is an admin, who then transfers it on to the org :)

[2018-09-10 19:56] BenEmdon commented on #1039
Since octopoller.rb is already under the management of octokit I think we are good to close this proposal 🎉
I have made issues with the remaining actions for ownership transfer:
- https://github.com/octokit/octopoller.rb/issues/3
- https://github.com/octokit/octopoller.rb/issues/4

[2018-09-10 19:56] #1039 closed

[2018-09-13 20:39] runnerpaul opened #1072 "Search for multiple labels with octokit.search.issues"
I have the below search terms in my `octokit.search.issues` function:

`q: "repo:" + repoOrg + "/" + repoName + " is:issue" + " label:sdk" + " state:open"`

Is it possible to edit this to include multiple labels?

[2018-09-13 20:53] tarebyte commented on #1072
@runnerpaul I'm not entirely sure, I would direct you to [GitHub Support](https://github.com/contact) as they would be more equipped to help you.

Thanks!

[2018-09-13 20:53] #1072 closed

[2018-09-23 17:44] #694 closed

[2018-09-25 16:31] ileitch opened #1074 "Support for Checks?"
Howdy, just wondering if you're planning on adding for support for Checks? https://developer.github.com/v3/checks/

[2018-09-25 17:06] tarebyte commented on #1074
Hi @ileitch

We would love to add it, I just haven't had the time to implement it. PRs welcome and happily reviewed if you'd like to take a shot at it.

[2018-09-25 17:06] #1074 closed

[2018-09-27 01:51] jondavidjohn opened #1075 "CheckSuite and CheckRun APIs"
Looks like we don't have methods for the new Checks API

 - [ ] [CheckSuites](https://developer.github.com/v3/checks/suites/)
 - [ ] [CheckRuns](https://developer.github.com/v3/checks/runs/)

Thanks!

[2018-09-28 13:11] tarebyte commented on #1075
Duplicate of https://github.com/octokit/octokit.rb/issues/1074

I don't have time to implement it right now, but you're welcome to take it on @jondavidjohn if you fancy contributing 😄

[2018-09-28 13:11] #1075 closed

[2018-09-28 15:30] jondavidjohn commented on #1074
Seems like it *is* a gap in functionality, just because it's not going to be implemented immediately it be better left open?

[2018-09-28 15:46] kytrinyx commented on #1074
@jondavidjohn Thanks! At the moment we've not been keeping open issues for unimplemented endpoints. We've considered writing a script to open issues for all of them, but we've not yet decided if that's where we want to go.

For the moment I think for consistency I'd like to keep this closed, with the understanding that we do welcome PRs for *any* unsupported endpoints, though we don't have issues

[2018-10-02 13:33] mib32 commented on #910
If the of the Integrations API is not yet suitable for production, which API should I use in production in order to list app installation repositories?

[2018-10-02 13:43] tarebyte commented on #910
@mib32 that is the only API available, it will be coming out of preview by the end of the year and we don't expect any changes.

If we do we'll make sure you're alerted well before on the blog https://developer.github.com/changes/

[2018-10-02 20:25] rdunlop opened #1079 "difficult to use `list_app_installation_repositories` with topics"
Perhaps this is supposed to be difficult, because it's still in "preview", but I had to jump through some hoops to get `list_app_installation_repositories` to return the topics I wanted.

According to https://developer.github.com/v3/apps/installations/#list-repositories, it _can_ return 'topics', and according to https://developer.github.com/v3/apps/installations/#installations, we need to specify

[2018-10-10 20:30] jqtruong opened #1080 "Integration must generate a public key"
Hello, i'm getting an error:

    POST https://api.github.com/installations/4/access_tokens: 401 - Integration must generate a public key // See: https://developer.github.com/v3:

i am following this [guide](https://developer.github.com/enterprise/2.13/apps/building-your-first-github-app/), and the error stems from this function call:

    installation_token = @client.create_app_installation_acces

[2018-10-10 20:33] tarebyte commented on #1080
@jqtruong can you show me how you're create the `@client` ?

[2018-10-10 20:35] jqtruong commented on #1080
@client ||= Octokit::Client.new(bearer_token: jwt)

i think i'm missing something, the `:integrations`, right? i am currently looking into how i can add that media type

[2018-10-10 20:37] tarebyte commented on #1080
The media type is built into the helper methods, how are you creating the `jwt`

[2018-10-10 20:39] jqtruong commented on #1080
[code]

where PRIVATE_KEY is set by
[code]

[2018-10-10 20:44] tarebyte commented on #1080
@jqtruong out of curiosity, why are you converting the newlines?

[2018-10-10 20:45] jqtruong commented on #1080
:) i'm just following orders... i mean instructions steps from the guide in this [section](https://developer.github.com/enterprise/2.13/apps/building-your-first-github-app/#prepare-the-runtime-environment).

[2018-10-10 20:47] jqtruong commented on #1080
oh i guess it is useless in this code since it's already been converted in the environment variable.

[2018-10-11 14:52] jqtruong commented on #1080
actually, nvm, that is needed because of the step in the guide. step replaces `\n` with the literal characters, and the code reverses that change, for a reason i do not quite understand at the moment. either way, the original issue still happens.

do you have any new thoughts that might help me? i'm willing to try anything at this point...

[2018-10-11 14:57] boardfish opened #1081 ""client_id" is not a permitted key"
[code]

Working on a small proof-of-concept with the GitHub API. I might need to manually reimplement this functionality if it's not fixed.

I've extensively tested that logging in with the client works, and creating a token in the usual way without using the idempotent flag works. I've also isolated the function to anotehr script to make 100% sure that the client_id is *not* passed during the req

[2018-10-11 15:28] jqtruong commented on #1080
closing, user error. i needed to specify the `api_endpoint` to my company's GHE... (facepalm)

[2018-10-11 15:28] #1080 closed

[2018-10-11 17:51] tarebyte commented on #1081
@boardfish I _think_ I've fixed this in https://github.com/octokit/octokit.rb/pull/1077

Would you be able to try this out with the latest master and see if that fixes your problem?

Thanks!

[2018-10-11 19:59] dentarg opened #1082 "list_deployment_statuses: NoMethodError: undefined method `rels' for #<Array:0x00007f7fab20df78>"
[code]

The `deployment_url` above is obviously not real, but I guess any repo with deployments can be used (my repo is private).

My Gemfile:

[code]

[2018-10-11 20:10] boardfish commented on #1081
Ah, my bad. Didn't think to try running bleeding edge instead. Thanks for the tip!

[2018-10-11 20:10] #1081 closed

[2018-10-11 20:36] dentarg commented on #1082
Uhm, `https://api.github.com/repos/myorg/myrepo/deployments/<id>/statuses` is not an `deployment_url` URL, my bad

[2018-10-11 20:36] #1082 closed

[2018-10-11 22:07] tarebyte commented on #1081
@boardfish I just cut https://github.com/octokit/octokit.rb/releases/tag/v4.13.0 which as the fix for the `422`.

[2018-10-13 14:12] boardfish commented on #1081
Perfect! Good to know I can drop `git` as a dependency in my container thanks to that.

[2018-10-21 11:01] enderahmetyurt opened #1086 "Star a gist"
Hi,

I try to star a Gist but according to API document I should set `Content-Length=0` I call API like
`Octokit.star_gist(params[:id], {headers:{content_length:0}})` it returns `NoMethodError: undefined method `strip' for 0:Integer`

I set method ` Octokit.star_gist(params[:id], {headers:{content_length:""}})` returns `false`

How can I see the request and header?

Cheers.

[2018-10-21 19:31] jeanm182 opened #1087 "Octokit crashing in console."
I'm having this issue when trying to use the octokit instance methods, whenever  I put my creds on rails console and try to use them on my rails console, it crashes with the following error
`$ client.repos
objc[58433]: +[__NSPlaceholderDictionary initialize] may have been in progress in another thread when fork() was called.
objc[58433]: +[__NSPlaceholderDictionary initialize] may have been in pro

[2018-10-26 06:54] #1086 closed

[2018-11-12 19:26] nickstanish opened #1088 "Initialize ignores falsy values"
https://github.com/octokit/octokit.rb/blob/737748e4e5f2de23e7744b5e9c1ec57133d6ebad/lib/octokit/client.rb#L122

If a value is set to `false` then initialize will fallback to the default configuration for that key. In most cases this shouldn't matter because nothing is set, but it will likely lead to future bugs.

For example, initializing with `{ :auto_paginate => false }` would set `nil` rather t

[2018-11-13 12:14] tarebyte commented on #1088
Yeah I think that's a reasonable expectation, mind opening a pull request?

[2018-11-21 11:49] jrmhaig commented on #732
I stumbled across this while trying to work out why I couldn't get a list of all repositories even when I set `per_page: 500` (is the limit of 100 documented?).

In the example above from @xevix I believe that the `break` needs to be after the new version of `last_response` is set, so it should be:

[code]

I am actually using `github.organization_repositories` instead of `Octokit.issues`, where `

[2018-11-26 10:33] E3V3A commented on #1057
Bump!

Yeah, I don't know why my issue was closed back then, if it was never fixed here, but only in the .net version. Can someone enlighten us?

[2018-11-28 00:55] #1088 closed

[2018-11-28 22:00] rmlogistic commented on #732
1

[2018-12-07 22:59] iandouglas opened #1093 "client.create_issue throws a 404"
I'm using a personal access token (I didn't select any options when generating it) and I log in through Octokit just fine and can get a repo's issues and repo_obj populates with a Repository object. But I'm unable to create new issues on a repo my user owns (or any other I've tested).

[code]

I get this output when using the repo string of "username/repo-name"

[code]

When I use the Repository o

[2018-12-10 17:05] tarebyte commented on #1093
@iandouglas I would look at the token you are using to make that request.

Does it have the `public_repo` or `repo` scope?

[2018-12-10 17:23] iandouglas commented on #1093
@tarebyte I had no options chosen. I've updated it for public repos. Will this allow me to inject issues into any public repo, or only those where I am a collaborator or owner?

Background: I teach software development at turing.io and we want to inject 70-80 GitHub issues to repos owned by our students for an upcoming project to save them the time of building their own GitHug issues. If they have

[2018-12-10 18:33] tarebyte commented on #1093
It will allow you to open issues on any repo that is public.

[2018-12-10 19:18] iandouglas commented on #1093
Awesome, apologies for the noise then, I couldn't find which permissions were needed to use the issues creation. It works fine. Thanks for pointing me in the right direction!

[2018-12-10 19:18] #1093 closed

[2018-12-10 22:54] NedHenry commented on #1087
I have the same issue, and it seems to be related to how OS Mojave (the new Mac OS). Apparently a change in how it handles forks is causing a bunch of bugs in ruby code. I haven't found a workaround yet that works for me, but I have confirmed that the problem doesn't occur when running the same project on OS High Sierra or on linux.

[2018-12-22 15:40] student19942018 opened #1095 "New bug21344"
oops

[2018-12-22 15:41] #1095 closed

[2018-12-27 17:21] aaronlippold commented on #910
This still seems to be an issue. Does anyone have a working example for this using the 'topics' preview.

[2019-01-04 14:58] movermeyer opened #1096 "Add auto-refreshing of App installation access tokens"
In order to [authenticate as a specific GitHub App installation](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-an-installation), you use a JWT token to produce a temporary installation access token.
You can then set Octokit to use that token.

[code]

However, that token is only valid for an hour.

It would be nice if Octokit could automa

[2019-01-05 16:10] rogergraves opened #1097 "Comparing branches using API V3"
I want to check if a non-primary branch has a merge conflict with second branch before either are a part of a pull request, similar to what is shown on /merge/compare/ in Github. Is there a way to do this using the API V3? Thank you!

[2019-01-16 22:13] laserlemon commented on #1074
I have a solid start on adding this functionality at https://github.com/laserlemon/octokit.rb. Here's the [diff](https://github.com/octokit/octokit.rb/compare/master...laserlemon:checks) thus far. Please feel free to contribute to my branch and I'll open a PR when it's ready. I'm open to implementation feedback from the Octokit folks as well!

[2019-01-16 22:13] laserlemon commented on #1075
I have a solid start on adding this functionality at https://github.com/laserlemon/octokit.rb. Here's the [diff](https://github.com/octokit/octokit.rb/compare/master...laserlemon:checks) thus far. Please feel free to contribute to my branch and I'll open a PR when it's ready. I'm open to implementation feedback from the Octokit folks as well!

[2019-01-28 12:32] Ansty93 commented on #1057
Bump!

As it looks, the issue is not yet fixed?

[2019-02-01 14:40] elepedus opened #1103 "undefined method `authenticate' for Faraday::ConnectionOptions"
Just started using the Octokit gem, but when I try it out in the terminal I get a NoMethodError in Faraday:
[code]
What am I missing?

[2019-02-01 21:14] elepedus commented on #1103
No idea. I just did `bundle add octokit` and it defaulted to that version. Upgrading to latest fixed the issue – thank you!

[2019-02-01 21:14] #1103 closed

[2019-02-06 10:08] ybiquitous opened #1104 "New exception class for too large content"
Hi, I got the following exception `Octokit::Forbidden` (masked my repository info) when running [`Octokit.contents`](http://octokit.github.io/octokit.rb/Octokit/Client/Contents.html#contents-instance_method) 👇

[code]

I want to handle the exception as a different exception as `Octokit::Forbidden`, such as `Octokit::TooLargeContent`, and does this make sense?

What do you think about this idea? I

[2019-02-06 23:50] ybiquitous commented on #1104
GitHub API doc says:

--- https://developer.github.com/v3/repos/contents/#get-contents

[2019-02-25 17:17] ahayworth opened #1107 "status.github.com is deprecated"
As noted in [this blog post](https://github.blog/2018-12-11-introducing-the-new-github-status-site/) dated 2018-12-11, the old github status site ([status.github.com](https://status.github.com)) is deprecated. It has been replaced with a new site located at [www.githubstatus.com](www.githubstatus.com).

It looks like octokit directly calls out to the old api: https://github.com/octokit/octokit.rb/

[2019-02-28 21:07] stantona commented on #1107
*NB*: The API will be disabled on 4th March which is, at this time, 4 days away.

[2019-03-04 09:36] jakyns commented on #1080
@jqtruong I have found this issue right now, could you explain how you add `api_endpoint`? 😅

[2019-03-07 21:59] anglinb commented on #1057
👋 I'm not sure what needs to change to get this working as a first class feature but I got descriptions to work by including the preview header (`application/vnd.github.symmetra-preview+json`) mentioned in https://github.com/octokit/octokit.rb/issues/1001#issuecomment-379505671

[code]

Hope this helps!

[2019-03-07 22:08] E3V3A commented on #1057
I think it was a problem with octokit, so perhaps it's been fixed in the version you are now using?
I'll look into this...but it's been a while. :zzz:

[2019-03-07 23:32] caleb15 commented on #865
I agree, I've emailed support to let them know.

[2019-03-08 00:27] anglinb commented on #1057
I'm on `4.13.0` on OSX. From my experience, I think the generic `options` parameter generally just gets sent along in the POST body w/o any output validation so I wouldn't expect anything to have changed there but maybe something has 🤷‍♂️

[2019-03-13 08:42] a4z opened #1109 "makeing a pull request from a fork"
I go through the docs, and I see I can make pull requests from a feature branch to master,
but often the workflow is having a fork, making the branch there, and than send a pull request.
I wonder if there is an API/functionality in octokit.rb that support a pull request from one reop to the 'forked from' one

[2019-03-13 13:30] tarebyte commented on #1109
@a4z in order to open a pull request from a forked repo to the parent repo it would look something like this:

[code]

The trick here is when you are listing the `head` branch for the pull request you have to provide the login of the account as a prefix.

Check out https://developer.github.com/v3/pulls/#input for more help.

[2019-03-13 13:30] #1109 closed

[2019-03-13 16:14] a4z commented on #1109
this works! thanks a lot!!

[2019-03-14 15:42] lawrence-berry opened #1110 "List of tags for a repo?"
Is there any way to get a list of tags for a repository? I was trying
`my_repo.rels[:git_tags].get`

but that gives `Octokit::NotFound: GET https://api.github.com/repos/myorg/my_repo/git/tags` and struggling to find it referenced in the V3 docs.

[2019-03-14 15:49] tarebyte commented on #1110
@lawrence-berry the docs you are looking for would be https://developer.github.com/v3/repos/#list-tags

You could do something as easy as:

[code]

[2019-03-14 15:49] #1110 closed

[2019-03-14 15:50] lawrence-berry commented on #1110
Ah, that's great - thanks for the prompt response!

[2019-04-05 02:21] alexdesignworks commented on #1001
Works perfectly!

[code]

[2019-04-05 11:24] madwort opened #1113 "octokit 4.14.0 / berkshelf regression - api_endpoint nil url"
When using berkshelf `7.0.8` with octokit `4.13.0` and cookbooks hosted on github, it is not required to specify `api_endpoint` configuration in the berkshelf configuration.
After upgrading octokit to `4.14.0`, berkshelf crashes with a nil url - adding an `api_endpoint` config gets things working again (as does pinning octokit to `4.13.0`).
I haven't dug any further into this, so I couldn't say wh

[2019-04-05 11:35] madwort commented on #1113
presents as

[2019-04-15 12:04] #1104 closed

[2019-04-16 22:11] rafaelfranca opened #1116 "Find a substitute for sawyer in this gem or find a maintainer for it"
Sawyer is currently unmaintained and this is already causing issues in applications given new versions of adressable can't be used because sawyer is restricting its version. https://github.com/lostisland/sawyer/issues/59

Because of that, applications that uses octokit can't upgrade adressable without having to either find a replacement for octokit or forking octokit to find a replacement for sawy

[2019-04-17 00:21] tarebyte commented on #1116
Thanks for opening this @rafaelfranca, everyone I know who has access is probably not interested in working on it anymore.

I'm gonna start experimenting with some alternative wrappers.

[2019-04-24 14:31] jpittis commented on #1116
Is there a specific feature of Addressable that is required which is not supported by the stdlib?
I thought that used to be the case but may no longer be the case.

[2019-04-24 14:41] rhymes commented on #1116
@tarebyte what if you use Faraday directly?

[2019-04-25 12:48] tarebyte commented on #1116
@rhymes definitely a possibility, we could just implement our own `Octokit::Object` and use that instead of `Sawyer` object.

[2019-04-26 06:41] lparry commented on #1116
If you're replacing Sawyer, can you please use something that doesn't break basic hash expectations? (or at least maybe doesn't `#inspect` giving the illusion of being a hash)

ie. `thing_that_appears_to_be_a_hash.fetch("key_that_I_am_asserting_is_present")` should not just go and return nil (since "fetch" isn't a key on the response)

[2019-04-30 00:18] tarebyte commented on #1116
Sawyer is getting it's `Addressable` dependency relaxed!

https://github.com/lostisland/sawyer/pull/61

[2019-05-01 18:22] ashmaroli commented on #1116
A new version of `sawyer` has been shipped with relaxed version constraints on Addressable and Faraday:
https://rubygems.org/gems/sawyer/versions/0.8.2

[2019-05-04 19:46] #1116 closed

[2019-05-29 18:39] snowe2010 opened #1122 "protect_branch with a wildcard does not work if the wildcard does not match any branches"
Using the Github UI, I am able to create wildcard branch protection even if a repository does not have any matching branches, for example `release/*` works even if there are no release branches. Using octokit though, with this code

[code]

results in this error

[code]

Attempting to set up new repositories with restrictions for branches that don't exist yet will be very frustrating if we can't d

[2019-06-03 22:54] snowe2010 opened #1125 "Octokit Connection attempts to delete keys of hash"
https://github.com/octokit/octokit.rb/blob/9bc8cd25c335cadbc898e11976a32aa8ce77ec8c/lib/octokit/connection.rb#L149
attempts to delete things like the `accept` header, making it impossible to do things like below:

[code]

because it modifies for the later calls. Freezing also doesn't work. It seems like this should be documented very clearly, as it wasn't apparent until I debugged through octokit

[2019-06-03 22:54] snowe2010 opened #1126 "Preview code references wrong accept header for branch protection"
https://github.com/octokit/octokit.rb/blob/9bc8cd25c335cadbc898e11976a32aa8ce77ec8c/lib/octokit/preview.rb#L7 is referencing the wrong `Accept` header for `:branch_protection`

[2019-06-04 15:55] tarebyte commented on #1126
@snowe2010 there are a few different preview headers for that API, which one do you think is correct in this case?

[2019-06-04 16:28] snowe2010 commented on #1126
Hitting that api with loki fails to work for me, only if I use the luke cage header does updating branch protection work. `application/vnd.github.luke-cage-preview+json`

[2019-06-08 18:18] ELOHIMSUPREMES opened #1127 "Fixes"
I would like to give a shot

[2019-06-20 01:17] ybiquitous opened #1128 "`Octokit.contents` fails with URI-encoded filepath"
Hi, I find a bit strange behavior of the `Octokit.contents` method. When passing a URI-encoded file path, the method raises an error.

[code]

<details>
<summary>Error details</summary>

[code]

</details>

When encoding the file path before calling the method, the method works. For example:

[code]

I think useful to encode a given file path inside the `contents` method, but I'm worrying the beha

[2019-06-21 00:41] tarebyte commented on #1128
@ybiquitous I believe that this maybe an issue with the API, not with the client.

Would you mind reaching out to GitHub Support to confirm?

Thanks!

[2019-06-21 00:59] ybiquitous commented on #1128
@tarebyte Thanks for the response. I sent a question to GitHub support! Let's wait for good news from support. 😏

[2019-06-21 11:48] ybiquitous commented on #1128
I received a response from GitHub support. In conclusion, there is no problem with the GitHub API.

1. <https://api.github.com/repos/ybiquitous/octokit-ruby-contents-reproduction/contents> returns:

[code]

2. <https://api.github.com/repos/ybiquitous/octokit-ruby-contents-reproduction/contents/http%253A%252F%252Fexample.com?ref=master> (at `url`) returns:

[code]

3. Get encoded URL: <https://api.

[2019-06-26 20:44] spikex commented on #1126
@snowe2010 Based on your other open issues, I presume you are passing in `required_approving_review_count` as part of `required_pull_request_reviews`? It looks like that's the feature that requires a bump from _loki_ to _luke-cage_. Give that it's over a year old, we should probably make the change.

https://developer.github.com/changes/2018-03-16-protected-branches-required-approving-reviews/

[2019-06-26 21:15] mdross95 opened #1130 "Draft PR Support"
Are there any plans to add support for Github's semi-new [draft PR feature](https://github.blog/2019-02-14-introducing-draft-pull-requests/)?

edit: looks like it's just a boolean flag that you can pass in through options. closing

[2019-06-26 21:40] #1130 closed

[2019-06-26 22:07] snowe2010 commented on #1126
@spikex 	yes I was passing that in.

[2019-07-10 21:56] addison-grant commented on #716
I am getting this error, too
[code]

I am using git-scripts's `feature`. Before I add a file called Gemfile, `feature` works fine.

[2019-07-11 20:07] spikex commented on #1087
This is a Ruby 2.4.x/Mojave issue. Upgrading to 2.4.4 or greater should fix it.

[2019-07-11 20:07] #1087 closed

[2019-07-26 19:29] ajshepley opened #1140 "Inconsistent expectation of 'refs/' in Refs module methods"
Hello,

I'm wondering about a behaviour that seems a bit inconsistent.

If I pass a `ref` parameter with a 'refs/' prefix to [`Client.create_ref`](https://github.com/octokit/octokit.rb/blob/master/lib/octokit/client/refs.rb#L48), such as `refs/my-ref/a-thing`, create_ref will use that exact ref in the post body; a ref at `refs/my-ref/a-thing`.

As the ref method signatures are very similar, I'd ex

[2019-07-29 08:59] revathi-murali opened #1141 "Searching by filename in repo"
Is there a in-built method to search for filename in a repo?. Say, suppose I want to search for a file `test.rb` in `octokit/octokit.rb` repo. Which of these method should I use? `search_repos` or `search_code`. Both are not returning the expected result.

[code]
=> {:total_count=>0, :incomplete_results=>false, :items=>[]}

[code]
=> {:total_count=>0, :incomplete_results=>false, :items=>[]}

[2019-07-29 15:18] revathi-murali commented on #1141
Closing this as we should pass the `string`  argument to `search_repos`

[2019-07-29 15:18] #1141 closed

[2019-08-16 05:14] brynjargr commented on #587
I was dealing with this same issue where I was getting incomplete results and it wasn't clear why. Eventually I figured out that it was because I was hitting the rate limit while using `auto_paginate`. I eventually figured out that I could handle this by adding a sleep that would wait until the rate limit is reset before making more requests. I accomplished this by doing something like this:
[code

[2019-08-16 05:33] ckhung5 opened #1143 "is there an ability to assign label/s to cards in a Column for a project ?"
Hi,

I am trying to assign labels onto cards in the same column for a project. I have tried the this tool by querying from project to column to cards.

Unfortunately, I couldn't continue anymore because:
1. The cards response from the tool doesn't return the `content_url`. Refering to github api
https://developer.github.com/v3/projects/cards/

Here is the result of my query using Octokit

[code]

[2019-08-16 21:46] yamlCase commented on #776
@ahmadhasankhan he may have found one, but I hadn't.  Thanks for posting!

[2019-08-18 06:50] native-api opened #1144 "Display response and request on error"
In GitHub API, headers contain additional information about the error so they are needed for diagnostics.

See e.g. https://travis-ci.community/t/github-returns-404-when-trying-to-deploy-using-github-releases/4770 where the cause is unclear from just the error code.

[2019-08-19 13:50] tarebyte commented on #1143
@ckhung5 it's a bit misleading, but I believe that using https://developer.github.com/v3/issues/labels/#add-labels-to-an-issue also works for pull requests.

Let me know you are not successful.

[2019-08-21 06:59] afeld opened #1145 "Offer lazy pagination"
Currently, the only options for pagination are [manual](http://octokit.github.io/octokit.rb/#Pagination) and [`auto`](http://octokit.github.io/octokit.rb/#Auto_Pagination), the latter of which will "fetch and concatenate the results from every page into a single array" up front. This means that users may be fetching a lot more results than they need to much faster than they may need to, and may hi

[2019-08-22 08:22] ccppoo opened #1146 "Mobile Web dropdown Menu placement"
![Screenshot_20190822-171619_Samsung Internet](https://user-images.githubusercontent.com/46418312/63498441-de31fa80-c500-11e9-90fa-7c0660f7cbe0.jpg)

link : https://developer.github.com/v3/

using in Galaxy s9+, Samsung default internet App

Sorry I didn't follow issue template while submitting this on modile

As you see the screen shot, I can't see left side of dropdown menu. Even zoom out isn't

[2019-08-22 13:41] tarebyte commented on #1146
Hi @ccppoo this repo is actually for the Octokit Ruby Gem.

This would be an issue you would want to reach out to [GitHub Support](https://github.com/site/report-bug) for.

Thanks!

[2019-08-22 13:41] #1146 closed

[2019-09-14 07:48] norinux opened #1148 "Get issue and issue comments in one request"
I want to get issue comments in issue lists.
Usecase is backup of repository data.

Becouse , list_issues method is not include issue comments.
So , It requires a lot of work to get of issue_comments.

### feature request
add include **comments** option in list_issues method.
or. add new method list_issues_with_comments.

[2019-09-14 15:04] tarebyte commented on #1148
@norinux this isn't really a limitation with the Octokit client so much as a limitation with the REST API.

If you want to list issues with their comments I would recommend looking at [GraphQL AP](https://developer.github.com/v4/). In GraphQL you can list a repositories issues and then get a set of comments.

[2019-09-14 15:04] #1148 closed

[2019-09-17 01:49] norinux commented on #1148
@tarebyte
I see , I'll try to GraphQL API .
Thank you for your comment !

[2019-09-17 19:04] eric-silverman opened #1150 "Missing update_pull_request_review"
There doesn't seem to be a method for [Update pull request review](https://developer.github.com/v3/pulls/reviews/#update-a-pull-request-review
)

[2019-09-17 19:49] tarebyte commented on #1150
Doesn't look like it! Happy to review a PR if you're willing to submit it @eric-silverman

[2019-09-18 00:37] eric-silverman commented on #1150
@tarebyte  https://github.com/octokit/octokit.rb/pull/1151

[2019-09-20 18:43] #1127 closed

[2019-09-27 18:53] stuyam opened #1155 "Faraday 0.16.0 release breaking Octokit"
I'm getting this error:
[code]

It looks like a new version of Faraday just came out 2 hours ago and it is breaking one of the dependencies you use. https://github.com/lostisland/faraday/releases/tag/v0.16.0

May have to lock the version number or something.

[2019-09-27 20:54] stuyam commented on #1155
Hopefully this PR will fix this and make it backwards compatible: https://github.com/lostisland/faraday/pull/1030

[2019-09-27 20:56] stuyam commented on #1155
Looks like there is an open PR here too: #1154

[2019-10-01 19:55] llance commented on #1096
quick question, currently, how are you guys re-authenticating after the access_token expires after the hour?

[2019-10-03 16:31] indigok opened #1157 "[Tracking issue] Generating client code from the OpenAPI schema"
Opening this to track the progress of generating the client code from the OpenAPI spec in the shared [routes](https://github.com/octokit/routes) directory.

:eyes: https://github.com/octokit/octokit.rb/pull/1010 for proof of concept
:eyes: https://github.com/octokit/routes/pull/168 for more context

[2019-10-11 20:34] zeke commented on #1157
Wow! So cool to see this happening.

cc @sarahs @jleaver

[2019-10-24 08:27] meap opened #1160 "Random 404 when getting content"
I use `client.contents` method to getting `download_url` for all files in the specified directory.

All works fine but sometimes happen that one URL is invalid. I get a regular URL but an attempt to download fails as 404.

[code]

Any idea what could be wrong? When I try to use the URL in the browser, I get a file with content `404: Not Found`.

octokit (4.14.0)

[2019-10-24 08:45] #1160 closed, assigned to nobody

[2019-11-05 12:09] obfischer commented on #1057
I can confirm the workaround by @anglinb.

[2019-11-14 20:06] yfll opened #1168 "list-tags API"
Two questions:

1. What's the order of the tags returned? thought it was reverse lexicographical order but this [example](https://api.github.com/repos/yfll/tag-api/tags) proves me wrong .
2. What options can we pass to limit the number of tags being returned? I was unable to find such information from this [reference](https://developer.github.com/v3/repos/#list-tags).

[2019-11-15 20:56] tarebyte commented on #1168
@yfll we don't have any kind of special ordering in Octokit, can you reach out to support@github.com?

Thanks!

[2019-11-15 20:56] #1168 closed

[2019-11-16 21:12] JamesPlayer opened #1169 "Auto paginate not working for find_installation_repositories_for_user"
Hi there

I'm using Octokit to make calls to this endpoint: https://developer.github.com/v3/apps/installations/#list-repositories-accessible-to-the-user-for-an-installation and I notice the [auto_paginate](https://github.com/octokit/octokit.rb#auto-pagination) setting doesn't work (total count returned is 126 but number of repositories returned is 100).

I notice in the docs for Octokit it says "F

[2019-11-18 19:45] #1169 closed

[2019-11-18 19:47] JamesPlayer commented on #1169
Fixed in release 4.9

[2019-11-28 03:16] orien opened #1170 "Faraday deprecation notice"
When collaborating with Faraday version 0.17.1 a deprecation notice is printed to STDERR:

[code]

[2019-11-28 03:23] orien commented on #1170
I see this has been resolved in #1154. Any chance of a release?

[2019-12-20 09:36] augustocravosilva opened #1174 "Announced deprecated APIs still in use"
Github has announced some deprecations here
https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#deprecating-and-adding-endpoints-for-the-oauth-authorizations-and-oauth-applications-apis

But octokit.rb seems to still be using the deprecated methods.
For example, https://github.com/octokit/octokit.rb/blob/a0ecb99860238cb3c3e79d851440f991f02116eb/lib/octokit/

[2019-12-20 13:26] #1150 closed

[2019-12-30 17:31] plutino opened #1177 "New release?"
Last release was 9 months ago in March, and there are lots of valuable fixes in current master.  Especially https://github.com/octokit/octokit.rb/pull/1154 fixes a very annoying deprecation message from upstream Faraday change.

Please create a new release to allow easy access to these fixes and new features.

[2020-01-01 13:04] jdeluyck commented on #1177
Version 1.0.0 of Faraday has been released, which breaks with the latest version of Octokit. Please release a new version!

[2020-01-01 21:45] Atem18 commented on #1177
Can confirm, can’t build anymore my Jekyll website. :(

[2020-01-02 02:07] parkr commented on #1177
Hi @hmharvey! Are you able to cut releases of this gem? Thanks!

[2020-01-02 03:25] hmharvey commented on #1177
Hello all 👋yes, we'll have a release out early next week when we're back from the holidays.

[2020-01-02 04:05] akhilles commented on #1177
`octokit` gem is completely broken atm due to the `faraday` 1.0.0 release. would it be possible to use some sort of semantic versioning in the `gemspec` to avoid situations like this in the future? This needs to be stricter: `spec.add_dependency 'faraday', '>= 0.9'`

[code]

[2020-01-02 04:18] akhilles commented on #1177
Temporary workaround for people running into the same issue:
[code]
or if using `Gemfile`:
[code]

[2020-01-02 16:14] cetinajero commented on #1170
Hi @orien,

The `faraday` theme had released [v0.17.3](https://github.com/lostisland/faraday/releases/tag/v0.17.3) which by default doesn't show those warnings (requires a `FARADAY_DEPRECATE=warn` env variable to show them).

More on that here: https://github.com/lostisland/faraday/pull/1098

Maybe this version will help you.

[2020-01-02 19:14] tarebyte commented on #1177
I've released https://github.com/octokit/octokit.rb/releases/tag/v4.15.0 which is now live on Rubygems.

Shout out to @hmharvey for putting in the time to write the release notes ✨

Happy New year y'all

[2020-01-02 19:14] #1177 closed

[2020-01-02 20:19] parkr commented on #1177
Thank you, @tarebyte and @hmharvey!

[2020-01-02 20:41] hmharvey commented on #1170
A new release has now been cut, [v4.15.0](https://github.com/octokit/octokit.rb/releases/tag/v4.15.0). See [#1177 (comment)](https://github.com/octokit/octokit.rb/issues/1177#issuecomment-570311185). ✨

[2020-01-02 20:41] #1170 closed

[2020-01-02 20:44] hmharvey commented on #1155
#1154 was merged and a [new release](https://github.com/octokit/octokit.rb/releases/tag/v4.15.0) with the fix has been released so closing this out ✨

[2020-01-02 20:44] #1155 closed

[2020-01-03 00:04] Atem18 commented on #1177
Thanks a lot !

[2020-01-09 23:58] olivierlacan opened #1181 "Release formatting issues"
FYI the release formatting for https://github.com/octokit/octokit.rb/releases/tag/v4.15.0 needs to have dashes or stars at the beginning of each line or Markdown parsing will treat anything no split by a new paragraph as a single line.

See this Dependabot preview:
![image](https://user-images.githubusercontent.com/65950/72114514-c8876b00-3311-11ea-941d-37b29f6a7faf.png)

I know the GitHub Release

[2020-01-10 00:12] tarebyte commented on #1181
Thanks for the feedback @olivierlacan I've gone ahead and updated the latest release.

[2020-01-10 00:12] #1181 closed

[2020-01-13 02:55] orien commented on #1170
Thanks!

[2020-01-18 21:49] g-arjones opened #1182 "Inconsistent user x organization event feed"
I am having an issue with what seems to be an inconsistent event feed when fetching using the #organization_events and #user_events APIs. Apparently, some events are missing from the feed returned by the Octokit::Client#organization_events. Here's a small snippet to demonstrate:

[code]

Running the snippet, the output I get is:

[code]

Uncommenting line 6 and commenting out 7 in the above snippe

[2020-01-18 22:40] tarebyte commented on #1182
@g-arjones are you running into the same inconsistencies when you make these API requests with CURL?

[2020-01-18 23:37] g-arjones commented on #1182
Interesting. I did not expect that. Actually, github seems to be returning the expected events:

[code]

Output:

[code]

Seems to be an octokit.rb issue then...

[2020-01-18 23:43] g-arjones commented on #1182
Maybe a pagination issue?

[2020-01-22 20:22] hmharvey commented on #1182
👋@g-arjones, it looks like `organization_events` actually calls `/users/:user/events/orgs/:org` and `organization_public_events` calls the one you tested, `/orgs/:org/events`. It looks like the endpoint in question returns the wrong results regardless of Octokit so would you mind reaching out to GitHub Support?

[2020-01-22 20:30] g-arjones commented on #1182
Sure, thanks

[2020-01-22 20:35] #1182 closed

[2020-01-22 20:36] eric-silverman opened #1184 "Creating contents to .github/workflows/ fails"
Hi, I'm using the create contents API to add/update a file's contents to  .github/workflows/

is .github/workflows/ a protected path? This gives a 404 even though I can read the contents of this path

[code]

[2020-01-22 21:10] tarebyte commented on #1184
@eric-silverman there's a few things that can be wrong. First, can you tell us what kind of credential you are using Personal Access Token / OAuth token / GitHub App etc.

[2020-01-22 21:13] eric-silverman commented on #1184
Personal access token.

I can add a file to .github/ but not github/workflows and the path already exists

[2020-01-22 21:17] tarebyte commented on #1184
@eric-silverman what are the scopes on that Personal Access token? You might be missing the `workflow` scope.

[2020-01-22 22:34] eric-silverman commented on #1184
scopes are

[
    [0] "read:org",
    [1] "read:user",
    [2] "repo",
    [3] "user:email"
]

you would need a workflow scope to add a file to that path?

[2020-01-22 22:59] eric-silverman commented on #1184
Additionally, if this was done as a github app, what permission would it need to have?

[2020-01-23 12:15] tarebyte commented on #1184
Yes

There is a new Actions permission coming out soon I believe.

[2020-01-27 02:15] ybiquitous opened #1188 "Increase the default Faraday retry exceptions"
Hi, I open this issue and suggest to make the default's exception retry behavior more useful.

The current exceptions, which are handled by Faraday retrying, are `Octokit::ServerError`. See below:

https://github.com/octokit/octokit.rb/blob/8a88e97aaaa2d5a165d566a76499ae30a9eb0bfa/lib/octokit/default.rb#L28

On the other hand, the current Faraday handles the following exceptions by default:

- `Er

[2020-01-27 15:30] tarebyte commented on #1188
@ybiquitous I think it's an interesting idea, though I'm pretty sure that this would be a breaking change for the `v4` client.

I'll noodle on it and get back to you.

[2020-01-28 22:29] RKushnir opened #1189 "Exception incorrectly raised when deleting a non-existing reference"
Hi,
when trying to delete a non-existing reference using [delete_ref](https://github.com/octokit/octokit.rb/blob/4534c71e017d13b5518d9bd259b795863b282a6d/lib/octokit/client/refs.rb#L111-L113), the behavior doesn't match the documentation.

The call is expected to return false, but instead it raises an `Octokit::UnprocessableEntity`. This happens because the method uses [boolean_from_response](http

[2020-01-29 21:24] AlSufyaniT1 commented on #1188
#

[2020-02-04 08:58] kaspernj opened #1191 "Deprecation notice for authentication via URL query parameters"
I started getting mails with the following subject: Deprecation notice for authentication via URL query parameters

I allow users to authenticate through Github and uses their OAuth token to read a configuration file they add to their repository.

I use Octokit like this:
[code]

As far as I understand, Octokit should use HTTP basic auth instead of passing the client ID and secret as query paramet

[2020-02-05 13:23] rai-hi commented on #1191
Apologies - I'm not familiar with the release schedule of Octokit.

Any idea how long this will take to be included in a release?

Thanks for getting a fix in place so quickly!

[2020-02-05 14:39] tarebyte commented on #1191
@rai-hi we're going to try and get a release out this week.

[2020-02-05 20:21] jlk1980 opened #1194 "Need info"

[2020-02-05 20:26] jlk1980 commented on #1194
I feel like im being hacked again

On Wed, Feb 5, 2020, 3:22 PM Mark Tareshawty <notifications@github.com>
wrote:

[2020-02-05 20:28] tarebyte commented on #1194
@jlk1980 please reach out to GitHub Support if you are having issues with your account.

[2020-02-05 23:16] tarebyte commented on #1191
https://github.com/octokit/octokit.rb/releases/tag/v4.16.0has been released.

[2020-02-05 23:16] #1191 closed

[2020-02-19 10:28] donalod commented on #1174
Howdy, got another email about this today from Github and as far as I can tell, am not using any explicit queries, so it's just the underlying code above? [https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/](https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/)

[2020-02-19 12:21] tarebyte commented on #1174
No you’re right it’s the underlying code, I think we forgot about the new endpoints before shipping the last release.

I’ll take a look and see which ones need updating.

[2020-02-21 21:13] utkarsh2102 opened #1198 "Test failures on arm64"
Hi there,

Thanks for your work on this gem.
However, while building this against Ruby2.7 on arm64, I got the following error:
[code]

Could you perhaps help us figure this out?

[2020-02-24 19:34] tarebyte commented on #1198
@utkarsh2102 I imagine that since you're using a different processor that whatever we're running on the tests that we'll always run into different object ids. But that would be a best guess.

Is there a reason for running these specs on arm64?

[2020-02-26 01:55] lacostenycoder commented on #732
I emailed both Github and Zenhub for support in order to get help removing the files which we will need to go through and see which ones contain PHI.  We may be able to omit issue opened by QA team and/or anyone who doesn't have access to Prod data.  We got a quick response from Zenhub support saying that if we send the file URLs they will remove them for us.  Still awaiting reply from Github supp

[2020-02-27 17:33] hmharvey commented on #1126
Fixed in #1132

[2020-02-27 17:33] #1126 closed

[2020-03-02 17:34] MGudgin commented on #1174
@tarebyte I've submitted a [PR](https://github.com/octokit/octokit.net/pull/2116) to update octokit.net.

[2020-03-02 17:41] tarebyte commented on #1174
I appreciate the effort ✨ unfortunately I don't know C# very well to review it 😅

I'll leave that up to the maintainers of the repo. I only support the Ruby version.

[2020-03-03 14:07] namiwang opened #1204 "Listing starred repos with star creation timestamps"
As stated in the [doc](https://developer.github.com/v3/activity/starring/#alternative-response-with-star-creation-timestamps-1), there's an approach to list starred repos with a `starred_at` field, which is very useful and it'd be great if we could have this function in octokit.rb.

[2020-03-03 14:13] tarebyte commented on #1204
@namiwang you in fact can do that now:

[code]

This will pass the proper `Accept` header to the API to return the result.

[2020-03-03 14:13] #1204 closed

[2020-03-03 14:17] namiwang commented on #1204
Ah sorry for missing that! Thank you good sir.

[2020-03-03 14:40] namiwang commented on #1204
@tarebyte

Hi!

I just found that while

[code]

works fine,

[code]
 doesn't work.

I thought the user doesn't have to provide the login after authed via access_token.

Do you think this is expected? Thanks!

[2020-03-03 15:08] tarebyte commented on #1204
@namiwang you have to set `:login` at the client initialization in order for it know what login you want to use.

[code]

[2020-03-03 16:07] tarebyte commented on #1174
Closed by https://github.com/octokit/octokit.rb/pull/1203, will report back when we cut a release.

[2020-03-03 16:07] #1174 closed

[2020-03-09 14:18] saracarl opened #1208 "Can't delete a repository"
I'm getting a
``Octokit::Forbidden in ProjectController#delete``
and
``Must have admin rights to Repository.``
when I try to delete a repository

My scope is
``scope: "user,repo,delete_repo"``
and this is how I'm calling the delete:
``Octokit.delete_repository("#{params[:user_name]}/#{params[:repo_name]}")``

This matches [the documentation](https://developer.github.com/v3/repos/#delete-a-reposito

[2020-03-09 17:24] DanielWright opened #1209 "Requesting a New Release"
Hi, wonderful maintainers. 👋 Would it be possible to get a new release, to incorporate #1203 (at a minimum)? Thanks in advance. I appreciate you!

[2020-03-09 18:34] tarebyte commented on #1208
@saracarl the permission they are referring to is the permission you have as a user. You have the right scopes, but if you can't admin the repo you won't be able to delete it project.

[2020-03-10 14:23] saracarl commented on #1208
@tarebyte Does the user who created the repo not have admin rights on it?  (That's who is trying to delete it.)  Or do I need to do something else, scope-wise, to convey those rights?

Thanks.

[2020-03-10 14:26] tarebyte commented on #1208
If the repo belongs to the org, not necessarily. You can check what permission the user has on the repo by hitting the https://developer.github.com/v3/repos/#get-a-repository endpoint and checking the `permissions` hash.

If `["permissions"]["admin"]` is `false` the user won't be able to delete the repo.

[2020-03-10 16:48] DanielWright commented on #1209
I just saw the 4.17 release. Thanks!

[2020-03-10 16:48] #1209 closed

[2020-03-12 01:39] ctran commented on #1080
Octokit.configure do |c|
  c.api_endpoint = "https://<hostname>/api/v3/"
end

[2020-03-16 15:57] saracarl commented on #1208
Hmm.  So I'm not seeing a `permissions` or an `admin` on the repo that Octokit returns:

[code]
(plus many more url parameters, but not permissions)

[code]

Any ideas?

[2020-03-17 07:54] utkarsh2102 commented on #1198
Hi @tarebyte,

In that case, would it make sense for me to disable this particular test?

I maintain this gem in Debian and therefore this needs to be built on all architectures, as we generally do with all Debian packages.

[2020-03-17 13:25] tarebyte commented on #1198
@utkarsh2102 I think this might've actually been fixed in https://github.com/octokit/octokit.rb/pull/1201

Mind verifying?

[2020-03-20 19:19] utkarsh2102 commented on #1198
Hi @tarebyte,
Thanks for this, I've uploaded this snapshot to Debian again.
Likely this should fix this problem. In case it doesn't, I shall report back!

[2020-03-24 01:54] #1184 closed

[2020-03-25 06:20] ybiquitous opened #1215 "Description about the default value of the `per_page` option"
Hi there,

I found the difference between README and the actual code, about the default `per_page` value.

REAMDE: `30`

https://github.com/octokit/octokit.rb/blob/c5037e4abbf154b2123019e8d109e24490bf1be5/README.md#default-results-per_page

Code: `100`

https://github.com/octokit/octokit.rb/blob/116ddac2a9c962b4016ca31fb69f62b14361adb0/lib/octokit/connection.rb#L81

It seems that the README descri

[2020-03-25 08:15] electrum opened #1216 "Add support for Actions APIs"
https://developer.github.com/v3/actions/

[2020-03-25 10:12] mbajur opened #1217 "exchange_code_for_token rising bad_verification_code"
Hello!

I'm trying to integrate omniauth-github in my devise-based app and i encountered an issue with octokit/github API.

On the callback route, after successfully signing-in, when trying to use a code returned by github, `exchange_code_for_token` gives me `bad_verification_code` error. I know this might not be related to octokit gem but i double-checked everything, my client id/secret are exact

[2020-03-25 12:11] tarebyte commented on #1216
@electrum PRs welcome 😄

[2020-03-25 12:12] tarebyte commented on #1215
@ybiquitous the actual GitHub API defaults to 30 if we don't pass in a `per_page` query parameter. It looks like we set it in the client as `100` if we are auto paginating so that we make fewer requests.

I'm not sure I see the inconsistency here.

[2020-03-25 12:56] ybiquitous commented on #1215
Surely, there is no inconsistency.
But the behavior, which `per_page` is `100` if `auto_paginate` is set, seems undocumented and may confuse users (like me 😅 ).

So, what about documenting that behavior on this README?

[2020-03-25 19:19] jakeswenson opened #1219 "Where did 4.17.0 go?"
I was shocked today to find my builds failing with this:
[code]

Why was 4.17 removed from the gem registry?
Isn't this considered hugely bad practice given builds could be depending on this?

Looking at `rubygems` I no longer see 4.17.0 https://rubygems.org/gems/octokit
#1209 Documents that 4.17 was released. Yet I don't see it in the releases section: https://github.com/octokit/octokit.rb/releas

[2020-03-25 19:21] jakeswenson commented on #1219
`rubygems` confirms it was yanked: https://rubygems.org/gems/octokit/versions/4.17.0

[2020-03-25 19:23] tarebyte commented on #1219
We had to pull it because there was broken API calls. See https://github.com/octokit/octokit.rb/pull/1218 for more details.

We can try and avoid it, but that's not something we can guarantee. In the event we've broken a client with incorrect API calls we will need to pull the version. I'm sorry for your frustration but there isn't really a better way to do this.

[2020-03-25 19:40] jakeswenson commented on #1219
Thank you @tarebyte for the quick response. I understand that it doesn't feel good to have released/published a broken package, and it could lead to more frustration/issues if folks depend on it not knowing its broken. However the bugs were not affecting my use of this package (currently.)

Don't you think it'd be good to have a well documented practice in place for these types of situations?
For

[2020-03-25 19:53] tarebyte commented on #1219
@jakeswenson thanks for taking the time to give us that feedback. We'll certainly take this under advisement.

I think the happy path here would be to keep the release with a note about how it's broken and then remove the package from ruby gems.

Looking at https://github.com/lostisland/faraday/releases/tag/v0.17.0 as an example this feels like a good way to go. It stops folks from downloading it

[2020-03-25 20:09] tarebyte commented on #1219
I've put back https://github.com/octokit/octokit.rb/releases/tag/v4.17.0 and have made a note.

[2020-03-25 20:09] #1219 closed

[2020-03-26 15:20] caramcc commented on #1219
Due respect, yanking this version from RubyGems is not "happy path" for anyone who's using it. This resulted in broken builds for a lot of applications that we needed to scramble to fix.

In the Faraday example that you gave above, note that even though the 0.17.0 was published as a "rollback release" to undo all of the changes that were shipped in their 0.16.x release series, **none of the 0.16.x

[2020-03-26 19:44] ianfixes commented on #910
Can you spell out what that means?

[2020-03-28 00:05] SuperTux88 commented on #1219
It's still missing on rubygems.org and therefore apps that still depend on 4.17.0 and weren't affected by the bug are broken now. Please avoid yanking versions in the future, it almost always makes the situation worse than without yanking it.

[2020-03-30 09:19] rohitpaulk commented on #1219
Ended up here because of a broken build. Appreciate the steps you've taken to document the issue :+1:

My 2 cents - unless there's a critical security vulnerability, not yanking is probably a better choice. The `left-pad` article linked above explains the issue better than I possibly could :slightly_smiling_face:

[2020-03-30 12:08] tarebyte commented on #1219
Thank you all for your feedback, it's something we will no doubtably take account into the future.

[2020-03-30 12:41] mpermperpisang opened #1224 "Get contribution list of commit by file path"
Hi, first of all thanks a lot for this awesome repository
I want to ask how to get a list of contribution by file like this `https://api.github.com/repos/:owner/:repo/commits?path=README.md`?

I read `http://octokit.github.io/octokit.rb/Octokit/Client/Commits.html` but still not sure how to do it. Is it possible to do that?

Thanks

[2020-04-02 10:03] digglife commented on #910
@ianfixes

I think @kytrinyx means calling `issue_reactions` with `:accept` option.

[code]

[2020-04-02 10:23] digglife commented on #910
Setting `default_media_type` for the client object itself does not work because there are a bunch of predefined `PREVIEW_TYPES` which overrides the `default_media_type` when methods such as `issue_reactions` being called. The one defined for `reactions` is `application/vnd.github.squirrel-girl-preview` in the code instead of `application/vnd.github.squirrel-girl-preview+json` noted in the [API doc

[2020-04-02 17:36] ianfixes commented on #910
Thanks, this worked.

Is it just me, or is the documentation very lacking on the association between setting header variables and arbitrary keyword args that can be passed to API functions?  A section on "how to enable beta API features" or something to attract Google searches would be useful.

[2020-04-06 01:09] MSP-Greg commented on #1198
@utkarsh2102

Any news?  You didn't mention whether the issue was intermittent. If so, seed values (for the failures) would be helpful.

[2020-04-06 16:25] utkarsh2102 commented on #1198
Hi @MSP-Greg @tarebyte,
#1201 works pretty alright :)
I haven't faced any failures or regressions so far, so looks like everything is good indeed!
Thank you for your help! <3

[2020-04-07 20:38] tarebyte commented on #1224
Hi @mpermperpisang 👋

In order to limit the commits by path you would just need to update the call to look something like:

[code]

Adding the `path` as a KWARG adds it to the path as a query parameter.

[2020-04-07 20:38] #1224 closed

[2020-04-09 11:52] ioquatix opened #1238 "It doesn't reflect changes to default_adapter"
https://github.com/octokit/octokit.rb/blob/14bb1a1d4fec8d2250dc6f6b9cb2d446a0332d58/lib/octokit/default.rb#L32

If the user changes default adapter AFTER loading this file, it is not used.

[2020-04-14 13:17] ybiquitous opened #1244 "Coveralls is not working"
I noticed that the `coveralls` gem is not working on CI. See below:

https://github.com/octokit/octokit.rb/runs/583312202?check_suite_focus=true#step:6:26

[code]

The cause of the error seems that the `coveralls` gem does support the latest `simplecov` gem.
The `simplecov` gem had the API change with the [v0.18.0](https://github.com/colszowka/simplecov/blob/master/CHANGELOG.md#0180-2020-01-28).
S

[2020-04-14 22:42] hmharvey commented on #1244
Thanks for opening this up and adding all the context! We'll look at removing the `coveralls` dependency as it's not one we use much 🙇‍♀️

[2020-04-16 14:36] janosrusiczki commented on #1244
I logged an issue and a solution on the coveralls repo too.

https://github.com/lemurheavy/coveralls-ruby/issues/161

The solution is to switch away from the official coveralls gem.

[2020-04-16 18:30] saracarl commented on #1208
Any thoughts on this?  It seems Octokit doesn't return a permissions hash.  Thanks.

[2020-04-16 19:27] hmharvey commented on #1208
I just tried this and it looks like Octokit does return a permissions hash, `permissions` is pretty close to the bottom but it's there! For your repository specifically, `@client.repository("saracarl/Ann-Sexton")` returns:

[code]
so `[:permissions][:admin]` is false.

[2020-04-16 19:49] hmharvey commented on #1208
As a follow up, there does seem to be a slight difference between `Octokit.repository` and `@client.repository` (so with an authenticated user). We might need to look into that more 🤔

[2020-04-21 21:50] #1244 closed

[2020-04-30 13:15] tjl2 opened #1249 "Incorrect Organizations path when using an org ID vs org name in 'update_organization_membership'"
It looks like the path being used in line 704 of the `update_organization_membership` method is hardcoded, instead of using `Organization.path`:

https://github.com/octokit/octokit.rb/blob/95603295203ad86b5e2abc4426b85111577bbc5b/lib/octokit/client/organizations.rb#L700-L709

I found that this was giving me 404 errors when trying to use this method with an org ID against a GHES server:

[code]

I'

[2020-05-01 22:36] mistydemeo opened #1250 "Certain valid characters in refs aren't being escaped properly"
Certain valid characters in git branch names aren't being escaped properly, leading to a failure to fetch them. A good example is `#`, which will obviously break API calls if passed through without escaping.

This was broken by #1006. `URI::Parser` handles this correctly, escaping `#` to `%23`, while `Addressable::URI` leaves it as `#`. Versions of Octokit from 4.9.0 to current git HEAD are affect

[2020-05-04 00:10] scorpion35 opened #1251 "Cherry pick support"
Was looking to cherry pick individual `sha`s or PR's, and came across these instructions - https://github.com/tibdex/github-cherry-pick#how-it-works

The instructions are great (haven't used the tool itself as I am in Ruby land), but have a huge flaw. They let the conflicts get thru as well! I tested this myself by brining in a `sha` from other branch (that is conflicting) into my current branch.

[2020-05-04 17:37] petar-lazarov commented on #1216
Hello,
we are going to use part of the GitHub Actions APIs in the near future and it would be easier to have the support.

That's why, I would gladly work on workflow run APIs if that is OK with you :smile:.

Also I noticed there is no endpoint for https://developer.github.com/v3/repos/#create-a-repository-dispatch-event. I will address that too.

[2020-05-04 18:35] hmharvey commented on #1250
I double checked this using curl and got the same results, so it looks like it might be a problem with API itself.

For example, trying
[code]
returns:

[code]
Although I can see the branch `test#this` under `curl -H "Authorization: token $GITHUB_TOKEN" https://api.github.com/repos/octopup/api-sandbox/branches` and the other branches like master work as expected.

Additionally, escaping it directl

[2020-05-04 18:51] tarebyte commented on #1216
Feel free @petar-lazarov 🍰

[2020-05-05 18:36] mistydemeo commented on #1250
@hmharvey I believe that's expected. Because of how URL routing works, anything past a literal `#` doesn't make its way into the server to the app. `#` always needs to be encoded in order to be used in URLs like this.

[2020-05-08 23:20] lak opened #1254 "repository.rb throws warnings on unitialized @owner"
When you create a repository instance using an id and having warnings enabled, you get warnings on two lines:

[code]

I'm not using much of the library, but I'm not seeing warnings anywhere else, so figured this was worth notice. An easy fix should be to set @owner and @name to nil if initing from an id.

[2020-05-15 20:44] #1198 closed

[2020-05-19 20:03] indigok opened #1258 "[Tracking issue] Switch to mock response testing"
Octokit currently uses [vcr](https://github.com/vcr/vcr)'s during testing. This has helped avoid making real time api calls while keeping the accuracy of real payloads. However, cassettes grow outdated if they're not consistently rerecorded (a lot of ours are from 2013 😬) and can been a little finicky when recording new ones, whether it's keeping out hard-coded values or getting the right permissi

[2020-05-21 23:06] #1249 closed

[2020-05-26 23:17] hmharvey commented on #1157
With the current naming schema, we’ve generated 33/91 clients. Thus, as we’ve reached a third of the way through the project and finally have several moving parts solidified, I’m going to take a moment to write some documentation.

#### Steps to generate a new client

0. Have both [`octokit/routes`](https://github.com/octokit/routes) and `octokit/octokit.rb` in the same directory. Everything else

[2020-05-26 23:34] zeke commented on #1157
Thanks for the update @hmharvey 👍

FYI the built definitions files are still JSON. See https://unpkg.com/browse/@github/openapi@2.6.0/dist/

[2020-05-27 00:01] hmharvey commented on #1157
Aha so they are! Thanks pointing that out 🙇🏻‍♀️

[2020-05-29 10:52] sarmad90 commented on #1096
You don't need to re-authenticate. Just do this `bearer_client.create_app_installation_access_token(installation_id)` where bearer_client is the Octokit which is initialized by JWT as bearer_token.

[2020-06-09 17:29] rnkaufman commented on #1250
^ We just had another instance of this happen today, detailed in the issue linked above

[2020-06-12 13:35] jatindhankhar opened #1265 "[Feature Request] Return Octokit::RateLimit struct as context for 401 / Forbidden errors to have better error handling"
At times when Github Rate Limiting kicks in, Octokit starts throwing `Octokit::Forbidden`, usually it is `TooManyRequests` or `AbuseDetected`

In such cases it is help to get the `Octokit::RateLimit` so the consumer can appropriate take action of retrying the error ( for example using the `resets_at` / `resets_in` to trigger retry after the prescribed time )

For `AbuseDetected` we can also expose

[2020-06-12 14:14] fifitrixabelle commented on #910
while this is in preview a nice way to use this (using topics as an example) is:

`topics = client.topics(repo ,{:accept => Octokit::Preview::PREVIEW_TYPES[:topics]})`

from https://github.com/octokit/octokit.rb/blob/6d6078a8c517d2233539786e537d481b2d1e106c/lib/octokit/preview.rb

[2020-06-25 07:14] yykamei opened #1268 "The documentation looks old; the last update seemed to be done on v4.11.0"
I found out some methods are not described on http://octokit.github.io/octokit.rb/. As I see the last commit of [gh-pages](https://github.com/octokit/octokit.rb/tree/gh-pages), this document seems to show the APIs for v4.11.0.

It would be great that the document is updated to the latest version.

Thanks,

[2020-06-25 08:32] yykamei commented on #1268
I think it may be good to add a workflow to automatically publish the GitHub page. How about using [GitHub Pages action](https://github.com/marketplace/actions/github-pages-action)? This action looks well maintained and popular. If it makes sense, I'm ready to address it :muscle:

[2020-06-26 01:47] hmharvey commented on #1268
👋🏻  @yykamei

Thank you for opening up this issue, the docs are really out of date! We're going to wait for some internal work to finish up so we can remove the `gh-pages` branch dependency but we should be able to update it soon. Once we do, we'd definitely love to add an action to keep it automatically up to date  🎉

[2020-06-26 02:35] yykamei commented on #1268
Thank you for replying, and I'm glad to hear that. I'm looking forward to the new pages. I'll close this PR after I confirm it.

[2020-06-29 18:09] tarebyte commented on #1265
This sounds like a neat feature, we'd love to see a PR @jatindhankhar ✨

[2020-07-03 18:04] jatindhankhar commented on #1265
Hi @tarebyte,

Thanks for validating the initial idea, here is the PR that should work - https://github.com/octokit/octokit.rb/pull/1270

Please check whenever you have a free moment :)

[2020-07-12 16:06] jatindhankhar commented on #1265
Closing since PR #1270 was merged

[2020-07-12 16:06] #1265 closed

[2020-07-12 16:15] jatindhankhar opened #1273 "[Feature Request] Custom pagination iteration with Page and item limit"
Octokit currently supports [Full Traversal](https://github.com/octokit/octokit.rb#auto-pagination), which means all resources available are traversed when this option is used, this is good for small lists (as mentioned in the doc) but when the page number of pages stretch to hundreds this may result in exhaustion of resources on single extraction.

I propose pagination with page and item limits.

[2020-07-12 16:22] jatindhankhar commented on #1273
Here is the full code with some modifications that is used at our production

[code]

[2020-07-15 13:07] jatindhankhar commented on #1273
cc - @tarebyte

[2020-07-16 19:47] tarebyte commented on #1273
@jatindhankhar thanks for the feature request! It feels a little heavy handed and it's something I'm not sure we want to add to Octokit at this time. That being said we've heard other requests to implement lazy pagination https://github.com/octokit/octokit.rb/issues/1145 which would be more maintainable from an SDK perspective.

If we implement something like that, would it make the wrapper you've

[2020-07-17 12:48] jatindhankhar commented on #1273
@tarebyte, sure yes having lazy pagination would be much better solution and I can make changes to that wrapper.

Is someone working on implementing Lazy pagination already ?

[2020-07-24 09:53] aabbccddff9961 commented on #711
Hi

[2020-07-24 20:18] pconrad opened #1274 "How do you set Accept Headers in a post request? (Maybe a bug, maybe a documentation clarification request)"
When using the `post` method of `Client`, Octokit.rb , how do you set custom `Accept:` headers in order to turn on a "preview" API?

Here are two tries that don't work.  I can't tell if I'm following the documentation incorrectly, or if there is a bug.

For context: the method `graphql_query_string` forms the correct query string, and `github_machine_user` is an instance of an Octokit `Client` obj

[2020-07-24 22:15] pconrad commented on #1274
An update: This didn't work either:

[code]

I see that there is a method `#ensure_api_media_type(type, options) ⇒ Object`  but it isn't clear how to invoke that, or whether it would even make any difference.   It appears to be a pure method with no side effects on anything other than the options hash, and printing out a warning about preview APIs.

[2020-07-26 11:21] maxandersen commented on #1157
tried follow the instructions in "https://github.com/octokit/octokit.rb/issues/1157#issuecomment-634330009" but I get:

[code]

nor can I find languages mentioned in https://github.com/octokit/octokit.rb/blob/master/lib/openapi_client_generator.rb?rgh-link-date=2020-05-26T23%3A17%3A40Z#L408

was this removed / moved ?

[2020-07-28 18:26] hmharvey commented on #1274
It looks like you found an answer given the response on StackOverflow, but GitHub also has a [GraphQL client](https://github.com/github/graphql-client) that might better fit your needs since this is a REST API client. However, it looks like you are doing the right steps, so maybe setting the accept header in the client would work.

[2020-07-28 18:26] #1274 closed

[2020-08-10 09:05] AndreiNikitin opened #1275 "[Feature request] Add an option to request team reviewers"
As github documentation says it is possible to add not only single users but a team also. See the link below
https://developer.github.com/v3/pulls/review_requests/#create-a-review-request

Would be great if you will add this possibility to "request_pull_request_review" command
https://octokit.github.io/octokit.rb/Octokit/Client/Reviews.html#request_pull_request_review-instance_method

[2020-08-10 09:07] AndreiNikitin commented on #1275
Sorry, just saw that I can do that with an "option" argument. But it is quite confusing. Renaming it to smth like "team-reviewers" might help.

[2020-08-10 14:21] tarebyte commented on #1275
We appreciate the feedback, renaming the preview would be a breaking change though unless we kept both.

Glad you found the answer!

[2020-08-10 14:21] #1275 closed

[2020-09-02 01:19] emmasax4 opened #1282 "Squashing or Rebasing pull request"
Has anybody managed to figure out how to use [this Octokit method](https://octokit.github.io/octokit.rb/Octokit/Client/PullRequests.html#merge_pull_request-instance_method) to squash or rebase a pull request? From further documentation [here](https://developer.github.com/v3/pulls/#merge-a-pull-request), it seems that we should be able to just pass the `merge_method` into the call:

[code]

But whe

[2020-09-02 20:26] robkinyon-roivant opened #1283 "Adding a team's repository permissions results in "422 - Validation Failed""
Using octokit 4.18.0, Ruby 2.4.7p357 on Amazon Linux 2

The error started on Sep 1st 2020. The code was working perfectly prior to that and has not been changed in months.

This is using `client.add_team_repository()` (https://octokit.github.io/octokit.rb/Octokit/Client/Organizations.html#add_team_repository-instance_method), invoked as so:
[code]
The full debugging stack trace (with sensitive ite

[2020-09-03 13:44] emmasax4 commented on #1282
Ah I figured it out. Apparently you need to pass in the custom commit message in order to pass in the `merge_method` hash:

[code]

[2020-09-03 13:44] #1282 closed

[2020-09-03 13:58] rdunlop opened #1284 "How to access the list of dependabot warnings?"
I have enabled the "Dependency Graph" and "Dependabot Alerts" on my private repository.
Under the "Security" tab, there is a "Dependabot alerts" which shows me the alerts for Gemfile.lock and yarn.lock library vulnerabilities.

I would like to access this information via the Github API so that I can aggregate it together across all of my repositories.

I thought that perhaps this was possible via

[2020-09-03 14:14] rdunlop commented on #1284
Ah, there is [a thread which implies that it's possible](https://github.community/t/are-security-vulnerabilities-available-via-api/13522/5)...

[2020-09-03 14:57] rdunlop commented on #1284
I've managed to retrieve the information [using GraphQL Explorer](https://developer.github.com/v4/explorer/) via:

using the command:
[code]

I'm not sure if I'll be able to do this through the Octokit, since it appears to be only focused on the REST Api...I don't know if this is a not available in the REST API because we're on Rest v3  and GraphQL is v4...or if those are even related....

I conti

[2020-09-17 12:04] stevekrouse commented on #1284
Thanks for this! Very helpful for me.

Here's how I ran it on Octokit:

[code]

[2020-09-21 18:09] tarebyte commented on #1284
Closing this as it looks like this has been resolved.

[2020-09-21 18:09] #1284 closed

[2020-09-21 18:11] tarebyte commented on #1283
@robkinyon-roivant according to the docs, `write` is not a valid permission.

<img width="730" alt="Screen Shot 2020-09-21 at 2 11 24 PM" src="https://user-images.githubusercontent.com/564113/93804467-568f5180-fc14-11ea-8b51-a2672d6d4f0a.png">

I think if you just update your `PUT` body to one of those permissions you should be good to go 👍

[2020-09-21 18:11] #1283 closed

[2020-09-27 03:36] CHOWYANYAN opened #1289 "hawa"
#[hi](hi@

[2020-09-27 03:37] CHOWYANYAN commented on #1289
- H

[2020-09-27 15:42] #1289 closed

[2020-10-20 14:27] gat-bryszard opened #1292 "Waiting for new version of Octokit"
Hello,

Last version of Octokit.rb is now from March (4.18.0) and I can see that there are many updates from this point of time on `4-stable` branch, including support for Actions API, which I currently would need.

Is there any plan for new release?

[2020-10-20 20:51] tarebyte commented on #1292
https://github.com/octokit/octokit.rb/releases/tag/v4.19.0 🎉

[2020-10-20 20:51] #1292 closed

[2020-10-21 08:18] gat-bryszard commented on #1292
@tarebyte Wow! I'm not sure if that was a reaction to my issue or it was planned, but the effect is amazing. Thanks!

[2020-10-21 09:54] nguyenntph opened #1294 "Updated version of team and team member related APIs not supported"
https://github.com/octokit/octokit.rb/blob/4-stable/lib/octokit/client/organizations.rb#L404
https://docs.github.com/en/free-pro-team@latest/rest/reference/teams#list-team-members

![image](https://user-images.githubusercontent.com/8804189/96704231-0c89bf00-13be-11eb-808e-2c83a46e3223.png)
![image](https://user-images.githubusercontent.com/8804189/96704271-190e1780-13be-11eb-96d2-c4ddf4a73bb1.png)

[2020-10-27 17:57] ddavisgraphics opened #1295 "Private Orgnaziation Repos Not Listed:"
[code]

When I login using my personal token to the client, if I can see my user and information.  I can't find anyway to list all the public and private repositories that are in the organization github.

The idea is that we can use all the repo information to clone all the items in the Github repositories everyone once in a while as an automated backup.

[2020-10-27 18:02] tarebyte commented on #1295
@ddavisgraphics a few notes:

- It looks like you want `client.org_repositories` not `client.repositories` https://github.com/octokit/octokit.rb/blob/519512aed8bbbc781ad1c1743c162aa6dbcb4862/lib/octokit/client/organizations.rb#L105-L129
- Does your personal access token have the `repo` scope?
- Is the organization in question protected by SAML SSO?

[2020-10-27 22:03] Fryguy opened #1296 "If a label contains a `?`, update_label silently fails"
In our repository, we have a label `jansa/yes?`...If I try to call

[code]

then it silently fails, but if I call it with

[code]

then it works.

I can't tell if this is an issue with octokit, sawyer, or the GitHub API itself.  From what I can tell, the label and color are passed as data and so should be the body of a PATCH request, which makes me think this is GitHub itself?

[2020-10-27 22:05] tarebyte commented on #1296
@Fryguy are you able to reproduce the issue with something like `cURL` or Postman?

[2020-10-27 22:16] Fryguy commented on #1296
I see what the issue is - the code in question is

https://github.com/octokit/octokit.rb/blob/519512aed8bbbc781ad1c1743c162aa6dbcb4862/lib/octokit/client/labels.rb#L58-L60

So the structure of the URL is to include the label name as part of it.  However, as you can see the code embeds the label name directly into the URL without escaping it.  I guess this works for `/` somehow as GitHub must handl

[2020-10-27 22:16] Fryguy commented on #1296
I can put up a PR to fix this, as I think it will happen in a handful of places.

[2020-10-27 22:25] tarebyte commented on #1296
Feel free!

[2020-10-29 15:59] csabahenk opened #1298 "octokit.rb is incompatible with Faraday 1.1.0"
I get this:

[code]
on an up to date Arch Linux system, whereby:

[code]

whereas downgrading Faraday to 1.0.1 works around the problem.

[2020-11-03 10:58] mommadukes1 commented on #1258
Lissamjay

[2020-11-03 17:13] ccoffey commented on #1096
@sarmad90 I do not think that your answer is correct.

[code]

I believe @movermeyer is trying to avoid having to do something like the following:

[code]

And I believe that he is asking if Octokit could do this internally instead?

[2020-11-04 12:41] eugeneius opened #1299 "s"

[2020-11-04 12:41] #1299 closed

[2020-11-04 14:41] movermeyer commented on #1096
Correct. The fact that tokens expire is something I expect 99+% of the users of `Octokit::Client` don't care about at all, while also being something that could easily (??) be handled automatically for them.

[2020-11-04 17:55] #1096 closed

[2020-11-07 01:30] alnhk opened #1301 "octokit create organizations in github enterprise"
Please share an example when using ruby based octokit module, can create organisations in github with proper teams (with ldap group). Currently, i am able to list the orgs available in github.

[2020-11-13 22:19] briandoyle81 opened #1305 "Appears Impossible for App to Assign Team when Creating New Repo"
The :team_id option in #create_repository appears to be unusable with secret teams.  It returns an error that a user must be a member of the team to assign it to a repo.  However, it appears impossible to add an installed app to a team.

[2020-11-13 22:22] tarebyte commented on #1305
@briandoyle81 I would reach out to GitHub Support. This sounds like an issue with the API rather than with out client.

If I'm mistaken please let me know.

[2020-11-13 22:22] #1305 closed

[2020-12-22 07:16] paulodero commented on #729
@jkim0120 How was this fixed? I'm getting the same issues.

[2020-12-22 15:27] curquiza opened #1313 "Auth via username and password is now obsolete"
Since GitHub stopped maintaining basic auth via username and password:

Ref: https://docs.github.com/en/free-pro-team@latest/rest/overview/other-authentication-methods#via-username-and-password

Should this package keep maintaining authentication via username and password? Shouldn't the main way to authenticate be via PAT?

I would be happy to do a PR 🙂

[2020-12-22 16:25] curquiza commented on #1313
Since we can pass the PAT in `password`

[code]

I'm not sure doing changes in the code would be useful changes, plus they would be breaking.

But I still can open a PR to make the README more up-to-date.

[2020-12-22 17:10] curquiza commented on #1313
I opened #1314
Feel free to refuse or request any changes.

[2020-12-24 05:08] ybiquitous opened #1315 "Test failed with Faraday 1.2.0"
Today, Faraday [1.2.0](https://github.com/lostisland/faraday/releases/tag/v1.2.0) has been released but the test in Octokit failed with the version.

Please see the following reproduction for details.

## Reproduction

Via Docker: `docker run -it --rm -w /tmp ruby:2.7.2 bash`

[code]

## Environment

- Ruby: ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-linux]
- Octokit: `HEAD` (8eaecbe3

[2020-12-28 20:19] #1315 closed

[2020-12-29 00:43] ybiquitous commented on #1315
@tarebyte Thanks! 😄

[2021-01-19 20:43] AraHaan opened #1320 "getting pull request opener?"
I would like to retrieve the pull request opener (to be specific I want to use this to find if dependabot opened the pull request).

However I am stuck with finding how I can do such a task.

[2021-01-20 16:30] tarebyte commented on #1320
If you're looking at a single pull request you'll find the author of the pull request under the `user` field. The payload body can be found here: https://docs.github.com/en/rest/reference/pulls#get-a-pull-request.

If you're trying to find all PRs by an author you'll be able to use the https://docs.github.com/en/rest/reference/issues#list-repository-issues endpoint. The issues that have pull reque

[2021-01-20 16:30] #1320 closed

[2021-01-20 17:28] AraHaan commented on #1320
Thanks, also is it also possible to deploy a cetain action when it sees a label change on a pull request as well too?

[2021-01-20 18:06] tarebyte commented on #1320
I'm not sure sorry, the best people to ask would be [GitHub Support](https://github.com/contact)

[2021-02-03 00:04] AHaymond opened #1323 "404 Error class not returning"
The intended result from receiving a 404 using Octokit.rb appears to be to return a simple error class of:

`Octokit::NotFound` which inherits from `ClientError`.

However in version `4.20.0` this is not the case. Instead it returns NilClass and throws a stack trace.

It would be nice to get proper error handling working so that I have something to work with and not just have to use a rescue block

[2021-02-03 14:44] tarebyte commented on #1323
@AHaymond is this something new for 4.20? Or it's just that this is true for 4.20?

[2021-02-03 19:37] AHaymond commented on #1323
@tarebyte ture for 4.20, I have not tried another version.

[2021-02-04 19:55] AHaymond commented on #1323
Here is an example output. This is just raising an unrecoverable error instead of handing me the 404 class as designed.

As you can see I am running on Ruby 2.7.2 for this project.
[code]

[2021-02-04 21:49] AHaymond commented on #1323
It would be preferable just to have a falsey value or an empty array returned on a 404 rather than an exception being thrown. This would be much more useful than an exception being thrown.

[2021-02-16 23:01] ivailop opened #1325 "Crash on response 'Link" header parsing"
Since yesterday, the "Link" header returned when doing [Web application flow](https://docs.github.com/en/developers/apps/authorizing-oauth-apps#2-users-are-redirected-back-to-your-site-by-github), i.e.
[code]
is formatted in a way that results in a crash when calling [exchange_code_for_token](https://github.com/octokit/octokit.rb/blob/d56af021d21d9a8f623e0b41cac073c272864ec2/lib/octokit/client/use

[2021-02-17 05:42] osowskit commented on #1325
@swinton any insight into recent changes that may have broken this?

[2021-02-17 13:52] jeremie-stripe commented on #1325
If it helps anyone, we are working around this by introducing a Faraday middleware step to strip the `Link` header in this situation (since the JS libraries are irrelevant in this case):

[code]
Setup in your pipeline like so:

[code]

[2021-02-17 14:02] jeremie-stripe opened #1327 "Teams-related functionality is using deprecated endpoints"
Context: https://developer.github.com/changes/2020-01-21-moving-the-team-api-endpoints/

It appears that teams related functionality in the `Octokit::Client::Organizations` namespace are still using deprecated API endpoints ([example code](https://github.com/octokit/octokit.rb/blob/d5ad4ccdc1c30d107990f19b9f7f4b4192eefc52/lib/octokit/client/organizations.rb#L341-L353), [API deprecation notice](htt

[2021-02-17 15:32] tarebyte commented on #1325
I think this has been fixed on the GitHub side, is anyone running into these issues still?

[2021-02-22 18:08] gmcgibbon opened #1328 "Branch renaming support"
I see support for branch renames in the [JS client](https://octokit.github.io/rest.js/v18#repos-rename-branch), but not here in the Ruby client. Are there any plans to add support for this? If there hasn't been any work done yet, I'd be happy to help!

Note that I'm not referring to _setting_ a default branch. I'm referring to the new `rename` feature that auto-switches PR targets, inherits protec

[2021-02-22 18:23] tarebyte commented on #1328
For my reference, this is the endpoint in question: https://docs.github.com/en/rest/reference/repos#rename-a-branch

We're happy to 👀 pull requests @gmcgibbon ✨

[2021-03-09 13:20] #1328 closed

[2021-04-06 19:09] Ramsteven opened #1330 "Login with Octokit::Client.new in the console rails"
Hello,i want login from console rails, then i create the oauth app inside of github and generate secret key, but when i try login with the console.
but when i try:
`client = Octokit::Client.new(login: ENV['GIT_U'],  password: ENV['GIT_PASS'])  # the GIT_U contains my username and GIT_PASS my password.`
i get this response.
`Octokit::Unauthorized (GET https://api.github.com/user: 401 - Requires aut

[2021-04-06 19:27] tarebyte commented on #1330
@Ramsteven as of November 2020, the GitHub API does not allow you to authenticate to the API via username and password. See https://github.blog/changelog/2020-11-13-token-authentication-required-for-api-operations/ for more details.

[2021-04-06 19:27] #1330 closed

[2021-04-07 20:41] seigel opened #1331 "Add Discussions to API"
I am looking to see if management of the now-in-beta "Discussions" are in the API and can't seem to find a reference to it.  Is there an ETA?

[2021-04-15 20:57] csabahenk commented on #1298
The practical aspect of this issue is resolved downstream, see https://aur.archlinux.org/packages/ruby-octokit/#comment-802119.

However, that boils down to "octokit works with latest Faraday" (1.3.0, as of writing this). The gemspec still specifies

[code]

and that still suspect for being incorrect, as this spec allows the problematic Faraday 1.1.0.

The problem might be a downstream Arch issue

[2021-04-19 18:46] #1313 closed

[2021-04-27 16:47] lokucrazy opened #1334 "4.21 checks api changes break enterprise usage"
Hi, my team is using this octokit library in a tool that connects with our enterprise github.  in 4.21 the preview header needed for check runs in enterprise was [removed](https://github.com/octokit/octokit.rb/blob/v4.21.0/lib/octokit/preview.rb#L9), [4.20 for comparison](https://github.com/octokit/octokit.rb/blob/v4.20.0/lib/octokit/preview.rb#L9).  I am wondering why this was changed and if ther

[2021-04-27 17:01] tarebyte commented on #1334
@lokucrazy we removed it because it's not longer a preview on github.com, what version of Enterprise are you using?

Luckily this is not a breaking deal for you, as you can set `Accept` header on the Octokit client calls that you need.

Example:

[code]

[2021-04-27 17:07] lokucrazy commented on #1334
We're enterprise 2.22.4, I assume we're some versions behind so is it supported on later versions?

[2021-04-27 19:40] tarebyte commented on #1334
Yeah you're fairly far behind https://docs.github.com/en/enterprise-server@2.22/admin/release-notes#2.22.4 (November of 2020). Once you upgrade I believe this will resolve itself.

[2021-04-28 18:26] #1334 closed

[2021-05-04 21:12] poloka opened #1337 "Upgrade from 4.20.0 to 4.21.0 causes Octokit::UnsupportedMediaType"
I am logging an issue with my initial findings but upon attempting to create a check-run when upgrading from 4.20.0 to 4.21.0 I am receiving the following error:
[code]

I will be reviewing further but in case someone has already run across this please let me know your findings and/or possible solutions to the issue.

[2021-05-04 21:23] tarebyte commented on #1337
Seems to be a duplicate of https://github.com/octokit/octokit.rb/issues/1334

@poloka what version of Enterprise are you running? It could be that your version still requires the preview header.

[2021-05-04 22:37] poloka commented on #1337
@tarebyte you would be correct.  my company is on GitHub Enterprise Server 2.22.4 and they don't plan to upgrade to a 3.x version until EOY.

[2021-05-06 20:14] tarebyte commented on #1337
@poloka the workaround would be something like what I've suggested in https://github.com/octokit/octokit.rb/issues/1334#issuecomment-827764387.

[2021-05-06 20:14] #1337 closed

[2021-05-11 16:56] sherryumlah opened #1339 "Add Project as Parameter/Option on Octokit.create_issue"
In looking at the documentation for the create_issue method:
https://octokit.github.io/octokit.rb/Octokit/Client/Issues.html#create_issue-instance_method

It appears, there isn't a way to pass a project name as a parameter to update the project field of the new issue.  It would be very helpful to be able to automatically add a newly created issue to a specific project.  (We use a specific project

[2021-05-11 19:46] poloka opened #1340 "Getting 404 from api calls for Organizations.team_members"
I could possibly be consuming the client incorrectly but figured I'd ask while I was still investigating.
[code]
What I get back is a an array of hashes which is expected.  I find my team I was concerned with and take its ID
[code]
https://github.com/octokit/octokit.rb/blob/v4.20.0/lib/octokit/client/organizations.rb#L403-L405

And I get an error `on_complete` noting:
[code]

Looking at the GitHub

[2021-05-11 20:10] tarebyte commented on #1340
@poloka what scopes does the token have?

[2021-05-11 22:42] #1143 closed

[2021-05-25 20:32] mgomes opened #1342 "ccccccvcerhnfrelgucditbtjjihgftniuklkkutrkgf"

[2021-05-25 20:32] #1342 closed

[2021-05-25 20:32] mgomes commented on #1342
My apologies!

[2021-05-27 18:06] AmirulAndalib commented on #1342
🤦‍♂️

[2021-06-22 09:20] evheny0 opened #1344 "Create comment for existing review"
Hi!

Is there a way to create a comment for the existing review?
When there is a pending review for the pull request, I want to add a new comment for this pending review. But I don't see any way to do this.

[2021-06-22 15:01] tarebyte commented on #1344
There doesn't seem to be, I would reach out to GitHub Support https://support.github.com/ for further details.

[2021-06-22 15:01] #1344 closed

[2021-06-30 15:23] 0kzh opened #1345 "/user/repos endpoint missing"
I'm trying to list all the repositories the user has access to, as specified by
https://docs.github.com/en/rest/reference/repos#list-repositories-for-the-authenticated-user

However, it seems like this route is missing from the client.
From the docs, there is:
- [client.all_respositories](https://octokit.github.io/octokit.rb/Octokit/Client/Repositories.html#all_repositories-instance_method) which

[2021-06-30 15:28] tarebyte commented on #1345
@0kzh if you don't pass in a `user` to the client.repositories method the request is `GET /user/repos`.

Step by step in the code

https://github.com/octokit/octokit.rb/blob/be7c105ec7b70e6dc5f83339df82edb3860a9458/lib/octokit/client/repositories.rb#L75
https://github.com/octokit/octokit.rb/blob/be7c105ec7b70e6dc5f83339df82edb3860a9458/lib/octokit/user.rb#L14-L15

If you pass a user in then it upd

[2021-06-30 15:28] #1345 closed

[2021-06-30 15:49] 0kzh commented on #1345
Ah, I was missing an OAuth scope which was why `client.repositories` was only returning some repos under my name. Thanks :)

[2021-07-02 17:29] congt opened #1346 "pull_request_comments returns an empty array"
Octokit:: Client.pull_request_comments return an empty array for PRs with comments.

I also tried the REST API, which also returned an empty array. Here is an example:
[code]